
.tk-sidebar-boxes {
  h2 {
    font-size: 22px;
    font-weight: bold;
    color: #99aeb3;

    margin-top: 0;
    margin-bottom: 40px;
  }
}

.tk-sidebar-box {
  max-width: 400px;
  margin: auto auto 60px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16) !important;
  display: block;
  transition: .3s;

  &:last-child {
    margin-bottom: 40px;
  }

  .tk-image {
    display: flex;
    img {
      width: 100%;
      margin: 0;
      height: 100%;
      max-height: 200px;
      object-fit: cover;
    }
  }

  .tk-desc {

    padding: 20px;
    background: #fff;

    .tk-supertitle {
      font-size: 15px;
      color: #99aeb3;
      margin-bottom: 5px;
      transition: .3s;
    }

    h4 {
      font-size: 22px;
      font-weight: bold;
      color: #003542;
      margin-top: 0;
      margin-bottom: 0;
      transition: .3s;
    }
  }

  &:hover {
    transform: scale(1.01);

    .tk-desc {
      .tk-supertitle, h4 {
        color: @mainBrandColor;
      }
    }
  }

  &.tk-guest-box {
    .tk-desc {
      background: @mainDarkColor;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        display: block;
        width: 100px;
        height: 100px;
        right: 25px;
        top: -75px;
        background-image: url('/wp-content/uploads/waldgourmet-einen-blick-wert.png');
        background-repeat: no-repeat;
        background-size:cover;
      }
      .tk-supertitle, h4 {
        color: #fff;
      }
    }

    &:hover {
      transform: scale(1.01);

      .tk-desc {
        .tk-supertitle, h4 {
          color: @mainBrandColor;
        }
      }
    }
  }
}