.single-tk-recipe h1 {
  font-size: 20px !important;
  font-weight: bold !important;
  line-height: 1.5 !important;
  letter-spacing: 0.6px !important;
  color: #003542;

  strong {
    font-size: 35px !important;
    letter-spacing: 0.7px !important;
  }
}

.tk-recipe-ingredients {
  ol {

  }

}
