li.tk-recipe {
  display: flex;
  flex-direction: column;
  max-width: 386px;

  .image_wrapper {

    a {
      display: flex;
    }

    img {
      width: 100%;
    }
  }

  .desc {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 15px 20px;
  }

  .tk-header {
    display: flex;
    flex-grow: 2;
    margin-bottom: 25px;

    .tk-title {
      h3 a {
        font-size: 24px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.25;
        letter-spacing: 0.5px;
        text-align: left;
        color: #003542;

        margin: 0 0 5px;
      }
      .tk-subtitle {
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        text-align: left;

        font-size: 15px;
        line-height: 1.33;
        letter-spacing: 0.3px;
        color: #99aeb3;
      }
    }
    .tk-category-icon {
      margin: 0 0 0 auto;
    }
  }

  .tk-header-separator {
    margin-bottom: 25px;
  }

  .tk-footer {
    display: grid;
    border-top: 1px solid #99aeb3;
    padding-top: 20px;
    grid-template-columns: 1fr 1fr 1fr;

    .tk-meta {
      .tk-meta-value {
        font-style: normal;
        font-stretch: normal;
        line-height: 1.2;
        text-align: left;
        color: #003542;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 0.4px;
      }

      .tk-meta-name {
        font-size: 15px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.2;
        letter-spacing: 0.3px;
        text-align: left;
        color: #99aeb3;
      }
    }
  }

  .tk-add-to-cart {
    margin: 0 0 0 auto;

    button {
      padding: 10px;
      margin: 0;
    }
  }

}

@media only screen and (max-width: 600px) {
  li.tk-recipe .tk-footer {
    grid-template-columns: 1fr 1fr;
  }
}