.tk-recipe-metas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  align-items: flex-end;

  .tk-meta {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .tk-meta-value {
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      text-align: center;
      color: @mainDarkColor;
      font-size: 30px;
      line-height: 1;
      letter-spacing: 0.6px;
      margin-bottom: 5px;
    }
    .tk-meta-name {
      font-size: 15px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.33;
      letter-spacing: 0.5px;
      text-align: center;
      color: @mainDarkColor;
    }
  }
}