.tk-recipe-content-tabs {



  .elementor-tabs-wrapper {
    border-bottom: 1px solid #dcddd0;

    .elementor-tab-title {
      border: none;
      padding: 15px 0;
      margin-right: 40px;
      position: relative;
      display: inline-block !important;

      a {
        color: @mainBrandColor;
      }

      &::after {
        width: 0 !important;
        height: 5px !important;
        position: absolute;
        border: none !important;
        bottom: 0 !important;
        left: 0 !important;
        background: @mainDarkColor;
        transition: .3s;
      }

      &.elementor-active {

        a {
          color: @mainDarkColor;
        }

        &::after {
          width: 90% !important;
        }
      }
    }
  }



  .elementor-tabs-content-wrapper {
    border: none;

    .elementor-tab-content {
      border: none;
    }
  }

  hr {
    margin-top: 20px;

    border: 0;
    border-top: 1px solid #faf1e0;
  }
}