.tk-recipe-content {

  .tk-ingredient {
    margin-bottom: 10px;
  }
  /*

  .tk-block {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 20px;
    margin-bottom: 20px;

    @media screen and (max-width: 960px) {
      grid-template-columns: 1fr;
      row-gap: 20px;
    }

    h3 {
      font-style: normal;
      font-stretch: normal;
      text-align: left;
      color: #003542;
      font-size: 20px;
      font-weight: bold;
      line-height: 1.5;
      letter-spacing: 0.4px;
    }

    .tk-ingredients {
      display: grid;
      grid-template-columns: 1fr 2fr;
      column-gap: 10px;



      .tk-amount {
        font-size: 15px;
        font-weight: bold;
        line-height: 1.47;
        color: #003542;
      }

      .tk-name {
        font-size: 15px;
        font-weight: 300;
        line-height: 1.47;
        color: #003542;
      }
    }

    .tk-steps {
      padding-left: 15px;

      li {
        font-size: 15px;
        font-weight: 300;
        line-height: 1.47;
        letter-spacing: 0.3px;
        color: #003542;
      }
    }
  }

  hr {
    border: 0;
    border-top: 1px solid #faf1e0;
  }
*/

}

