ul.tk-recipes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 30px;
  column-gap: 30px;
  padding: 0;

  @media screen and (max-width: 1024px) {
    grid-template-columns: 1fr 1fr;
    padding: 15px !important;
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    li {
      margin: auto;
    }
  }
}
