body.woocommerce-checkout {
  .tk-subheader {
    background: transparent none !important;
  }

  form.checkout {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 30px;

    @media screen and (max-width: 960px) {
      display: flex;
      flex-direction: column;

      .product-name {
        display: flex;
        flex-direction: column!important;
      }
    }


    .woocommerce-NoticeGroup {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }

  #customer_details {
    padding: 25px 35px;
    border: 1px solid #e5e5e5;
    margin-bottom: 30px;

    label {
      font-size: 15px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.67;
      letter-spacing: normal;
      text-align: left;
      color: #003542;
    }

    label[for=e_deliverydate] {
      display: none;
    }

    h3 {
      font-size: 17px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.35;
      letter-spacing: normal;
      text-align: left;
      color: #003542;
      margin: 0;
    }


    .woocommerce-additional-fields {
      margin-bottom: 30px;
    }

    #billing_country_field, #shipping_country_field {
      strong {
        font-size: 16px;
        font-weight: 300;
        line-height: 1.47;
        letter-spacing: 0.3px;
        color: @mainDarkColor;
      }
    }
  }

  #order_review {
    padding: 25px 35px;
    border: 1px solid #e5e5e5;

    h3 {
      margin: 0 0 10px;
      font-size: 20px;
      font-weight: bold;
      line-height: 2;
      text-align: left;
      color: #003542;
    }

    hr {
      border: 1px solid #c59b53;
      margin-bottom: 20px;
    }

    table.shop_table {
      background-color: transparent;
      border: 0;
      margin-bottom: 30px;

      .units-info, .delivery-time-info, .item-desc, .attachment-woocommerce_thumbnail, .unit-price {
        display: none;
      }

      th, td {
        padding: 0;
        border: 0;

        font-size: 15px;
        font-weight: 300;
        line-height: 1.47;
        color: #003542;

        .product-quantity {
          font-weight: 300;
        }
      }

      td:last-child, th:last-child {
        text-align: right;
        min-width: 100px;
      }

      .tk-header {
        text-align: left;
      }

      th.product-name, th.product-total, .tk-header {
        font-weight: bold;
      }

      tr.cart-subtotal td, tr.cart-subtotal th {
        padding-top: 10px;
        padding-bottom: 20px;
      }

      tr.fee td, tr.fee th {
        padding-top: 10px;
        padding-bottom: 10px;
      }

      .product-total {
        font-weight: 300 !important;
      }

      tr.cart-subtotal.recurring-total, tr.shipping.recurring-total {
        display: none;
      }

      tr.order-total {
        td, th {
          padding: 10px 0;
          border-bottom: 1px solid @mainBrandColor;
          border-top: 1px solid @mainBrandColor;
        }

        th {
          font-weight: bold;
        }
      }

      tr.order-tax {
        td, th {
          padding-top: 10px;
        }
      }


      @import (multiple) "../cart/shipping";
    }

    #payment {
      background: none;
      margin-bottom: 30px;

      ul {
        padding: 0;
        border: 0;
      }
    }

    #order_review_heading, #order_payment_heading {
      display: none !important;
    }

    .checkbox-legal {
      margin-bottom: 30px;

      input {
        margin-top: 5px;
      }

      label[for=legal] {
        font-size: 15px;
        font-weight: 300;
        line-height: 1.47;
        text-align: left;
        color: #003542;
        display: grid;
        grid-template-columns: 15px 1fr;
        padding: 0;
        column-gap: 10px;
      }
    }

    .wc-gzd-place-order {
      padding: 0;

      button {
        width: 100%;
        color: white;
        border-radius: 25px;
        background-color: #57b49c;
        font-size: 18px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.11;
        letter-spacing: 0.4px;
        text-align: center;
      }
    }

  }
}

/* Mobile: order success Page */
@media screen and (max-width: 400px) {
  .woocommerce ul.order_details li {
    margin-bottom: 20px;
  }
}
