html {
  overflow-x: hidden;
}
h1 {
  font-size: 35px !important;
  font-weight: bold !important;
  line-height: 1.14 !important;
  letter-spacing: 0.7px !important;
  color: #003542 !important;
}
h3 {
  color: #8d9906;
}
body {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  line-height: 1.56;
}
.archive h1 {
  text-align: center;
}
a {
  color: #8d9906;
}
select,
input,
label {
  margin: 0;
  text-align: left;
}
label {
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.67;
  letter-spacing: 0.3px;
  text-align: left;
  color: #003542;
  padding-right: 20px;
}
select,
input[type=text],
input[type=email],
input[type=tel],
input[type=password] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.67;
  letter-spacing: 0.3px;
  text-align: left !important;
  color: #003542;
  border-radius: 2px;
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  padding-left: 20px;
  padding-right: 20px;
  width: 100% !important;
  height: 50px;
}
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.67;
  letter-spacing: 0.3px;
  text-align: left !important;
  color: #003542;
  border-radius: 2px;
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  width: 100% !important;
}
.tk-large-post-box {
  background-color: #f5f2f2;
  padding-right: 30px;
  display: flex;
  position: relative;
}
.tk-large-post-box .tk-image {
  min-width: 180px;
}
.tk-large-post-box .tk-description {
  padding-left: 45px;
  padding-top: 45px;
}
.tk-large-post-box .tk-description h3 {
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: #003542;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
}
.tk-large-post-box .tk-description .tk-content {
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #003542;
}
.tk-large-post-box .tk-description .tk-read-more {
  margin-top: 15px;
  display: block;
  font-weight: bold;
  color: #8d9906;
}
.tk-large-post-box .tk-read-more-button {
  position: absolute;
  right: 35px;
  bottom: 35px;
  background-color: #c59d4f;
  border-radius: 50px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tk-large-post-box .tk-read-more-button a {
  color: white;
}
.tk-large-post-box .tk-read-more-button a:hover {
  text-decoration: none;
}
@media screen and (max-width: 500px) {
  .tk-large-post-box {
    flex-direction: column;
  }
  .tk-large-post-box .tk-description {
    padding-top: 20px;
    padding-left: 0;
  }
  .tk-large-post-box .tk-read-more {
    text-align: right;
    padding-right: 60px;
  }
  .tk-large-post-box .tk-read-more-button {
    bottom: 15px;
  }
}
.tk-breadcrumbs {
  font-size: 13px;
  letter-spacing: 0.3px;
  line-height: 1.3;
  margin-top: 15px;
}
@media screen and (max-width: 768px) {
  .tk-breadcrumbs {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.tk-breadcrumbs .tk-separator {
  margin-left: 5px;
  margin-right: 5px;
}
.tk-breadcrumbs a {
  color: #8d9906;
}
.tk-content h1 {
  font-family: Lato;
  font-size: 35px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: 0.7px;
  text-align: left;
  color: #003542;
}
.tk-content h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.tk-content h3 {
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 0.4px;
  margin-bottom: 5px;
}
.tk-content h4 {
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0;
}
.tk-content p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.47;
  letter-spacing: 0.3px;
  color: #003542;
  margin-top: 0;
}
.tk-content ol,
.tk-content ul {
  padding-left: 25px;
}
.tk-content ol li,
.tk-content ul li {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.47;
  letter-spacing: 0.3px;
  color: #003542;
}
form.tk-add-to-cart .tk-product-configuration,
.elementor-widget-tk-add-to-cart .tk-product-configuration {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 20px;
  row-gap: 10px;
  margin-bottom: 30px;
}
form.tk-add-to-cart .tk-product-configuration select,
.elementor-widget-tk-add-to-cart .tk-product-configuration select,
form.tk-add-to-cart .tk-product-configuration input,
.elementor-widget-tk-add-to-cart .tk-product-configuration input,
form.tk-add-to-cart .tk-product-configuration label,
.elementor-widget-tk-add-to-cart .tk-product-configuration label,
form.tk-add-to-cart .tk-product-configuration div.quantity,
.elementor-widget-tk-add-to-cart .tk-product-configuration div.quantity {
  width: 100%;
  margin: 0;
  text-align: left;
}
form.tk-add-to-cart .tk-product-configuration .label,
.elementor-widget-tk-add-to-cart .tk-product-configuration .label {
  min-width: 130px;
}
form.tk-add-to-cart .tk-product-configuration label,
.elementor-widget-tk-add-to-cart .tk-product-configuration label {
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.67;
  letter-spacing: 0.3px;
  text-align: left;
  color: #003542;
  padding-right: 20px;
}
form.tk-add-to-cart .tk-product-configuration .screen-reader-text,
.elementor-widget-tk-add-to-cart .tk-product-configuration .screen-reader-text {
  display: none;
}
form.tk-add-to-cart .tk-product-configuration .tk-availability i,
.elementor-widget-tk-add-to-cart .tk-product-configuration .tk-availability i {
  color: #8d9906;
}
form.tk-add-to-cart .tk-product-configuration div,
.elementor-widget-tk-add-to-cart .tk-product-configuration div {
  align-self: center;
}
form.tk-add-to-cart .tk-product-configuration div.value,
.elementor-widget-tk-add-to-cart .tk-product-configuration div.value {
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.3px;
  text-align: left;
  color: #003542;
}
form.tk-add-to-cart .tk-product-configuration select,
.elementor-widget-tk-add-to-cart .tk-product-configuration select,
form.tk-add-to-cart .tk-product-configuration input,
.elementor-widget-tk-add-to-cart .tk-product-configuration input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.67;
  letter-spacing: 0.3px;
  text-align: left !important;
  color: #003542;
  border-radius: 2px;
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  padding-left: 20px;
  padding-right: 20px;
  width: 100% !important;
  height: 50px;
}
form.tk-add-to-cart .tk-waiting-list-heading,
.elementor-widget-tk-add-to-cart .tk-waiting-list-heading {
  margin-top: 25px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: 0.7px;
  color: #003542;
}
form.tk-add-to-cart #mc_embed_signup,
.elementor-widget-tk-add-to-cart #mc_embed_signup {
  display: flex;
  flex-direction: column;
}
form.tk-add-to-cart #mc_embed_signup #mc_embed_signup_scroll,
.elementor-widget-tk-add-to-cart #mc_embed_signup #mc_embed_signup_scroll {
  display: flex;
  margin-bottom: 10px;
}
form.tk-add-to-cart #mc_embed_signup #mc_embed_signup_scroll input[type=email],
.elementor-widget-tk-add-to-cart #mc_embed_signup #mc_embed_signup_scroll input[type=email] {
  width: 100%;
  margin: 0;
}
form.tk-add-to-cart #mc_embed_signup #mc_embed_signup_scroll .tk-button,
.elementor-widget-tk-add-to-cart #mc_embed_signup #mc_embed_signup_scroll .tk-button {
  display: flex;
  min-width: fit-content;
  max-width: fit-content;
  margin: auto 0 auto 20px;
  padding: 0 20px;
  line-height: 2;
  font-weight: normal;
}
form.tk-add-to-cart .tk-price-wrapper .tk-price .price:not(.price-unit),
.elementor-widget-tk-add-to-cart .tk-price-wrapper .tk-price .price:not(.price-unit) {
  font-size: 28px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 0.6px;
  text-align: left;
  color: #003542;
}
form.tk-add-to-cart .tk-price-wrapper .tk-price .tk-price-unit,
.elementor-widget-tk-add-to-cart .tk-price-wrapper .tk-price .tk-price-unit {
  font-size: 20px;
  margin-bottom: 10px;
}
form.tk-add-to-cart .tk-price-wrapper .tk-additional-price-infos,
.elementor-widget-tk-add-to-cart .tk-price-wrapper .tk-additional-price-infos {
  display: inline;
}
form.tk-add-to-cart .tk-price-wrapper .tk-additional-price-infos p,
.elementor-widget-tk-add-to-cart .tk-price-wrapper .tk-additional-price-infos p {
  margin: 0;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.47;
  letter-spacing: 0.3px;
  text-align: left;
  color: #003542;
}
form.tk-add-to-cart .tk-price-wrapper .tk-additional-price-infos .price-unit,
.elementor-widget-tk-add-to-cart .tk-price-wrapper .tk-additional-price-infos .price-unit {
  display: none;
}
form.tk-add-to-cart .tk-price-wrapper .legal-price-info,
.elementor-widget-tk-add-to-cart .tk-price-wrapper .legal-price-info {
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.47;
  letter-spacing: 0.3px;
  text-align: left;
  color: #003542;
}
form.tk-add-to-cart .tk-price-wrapper .legal-price-info > p,
.elementor-widget-tk-add-to-cart .tk-price-wrapper .legal-price-info > p {
  display: flex;
  flex-direction: column;
}
form.tk-add-to-cart .tk-price-wrapper .legal-price-info a,
.elementor-widget-tk-add-to-cart .tk-price-wrapper .legal-price-info a {
  color: #8d9906;
}
form.tk-add-to-cart .tk-add-to-cart-footer,
.elementor-widget-tk-add-to-cart .tk-add-to-cart-footer {
  display: flex;
}
form.tk-add-to-cart .tk-add-to-cart-footer .tk-add-to-cart-wrapper,
.elementor-widget-tk-add-to-cart .tk-add-to-cart-footer .tk-add-to-cart-wrapper {
  margin: 0 0 auto auto;
  text-align: center;
}
form.tk-add-to-cart .tk-add-to-cart-footer .tk-add-to-cart-wrapper button,
.elementor-widget-tk-add-to-cart .tk-add-to-cart-footer .tk-add-to-cart-wrapper button {
  margin: 0;
  position: relative;
}
form.tk-add-to-cart .tk-add-to-cart-footer .tk-add-to-cart-wrapper button.tk-sending,
.elementor-widget-tk-add-to-cart .tk-add-to-cart-footer .tk-add-to-cart-wrapper button.tk-sending {
  padding-right: 50px;
  background: gainsboro;
}
form.tk-add-to-cart .tk-add-to-cart-footer .tk-add-to-cart-wrapper button.tk-sending:after,
.elementor-widget-tk-add-to-cart .tk-add-to-cart-footer .tk-add-to-cart-wrapper button.tk-sending:after {
  font-family: WooCommerce;
  content: '\e01c';
  vertical-align: top;
  font-weight: 400;
  position: absolute;
  right: 1em;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
form.tk-add-to-cart .tk-add-to-cart-footer .tk-add-to-cart-wrapper button.tk-done,
.elementor-widget-tk-add-to-cart .tk-add-to-cart-footer .tk-add-to-cart-wrapper button.tk-done {
  padding-right: 20px;
}
form.tk-add-to-cart .tk-add-to-cart-footer .tk-add-to-cart-wrapper button.tk-done:after,
.elementor-widget-tk-add-to-cart .tk-add-to-cart-footer .tk-add-to-cart-wrapper button.tk-done:after {
  font-family: WooCommerce;
  content: '\e017';
  margin-left: 0.53em;
  vertical-align: bottom;
}
form.tk-add-to-cart .tk-add-to-cart-footer .tk-add-to-cart-wrapper button:disabled,
.elementor-widget-tk-add-to-cart .tk-add-to-cart-footer .tk-add-to-cart-wrapper button:disabled {
  cursor: not-allowed;
  background-color: rgba(7, 93, 114, 0.15) !important;
  font-weight: bold !important;
  color: #003542 !important;
}
form.tk-add-to-cart .tk-add-to-cart-footer .tk-add-to-cart-wrapper .added_to_cart,
.elementor-widget-tk-add-to-cart .tk-add-to-cart-footer .tk-add-to-cart-wrapper .added_to_cart {
  text-align: center;
  font-size: 14px;
  color: #8d9906;
}
form.tk-add-to-cart .tk-add-single-variation-link,
.elementor-widget-tk-add-to-cart .tk-add-single-variation-link {
  display: block;
  padding: 10px 0;
  font-size: 15px;
}
form.tk-add-to-cart .tk-add-single-variation-link:hover,
.elementor-widget-tk-add-to-cart .tk-add-single-variation-link:hover {
  cursor: pointer;
}
@media screen and (max-width: 560px) {
  form.tk-add-to-cart .tk-add-to-cart-footer {
    flex-direction: column;
  }
  form.tk-add-to-cart .tk-add-to-cart-footer .tk-price-wrapper {
    margin-bottom: 20px;
  }
  form.tk-add-to-cart .tk-add-to-cart-footer .tk-add-to-cart-wrapper {
    width: 100%;
  }
  form.tk-add-to-cart .tk-add-to-cart-footer .tk-add-to-cart-wrapper button {
    width: 100%;
  }
}
.woocommerce ul.products li.product.tk-product {
  background-color: white;
  border: 1px solid #e5e5e5;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
.woocommerce ul.products li.product.tk-product a img {
  margin-bottom: 0;
}
.woocommerce ul.products li.product.tk-product .tk-product-box-icons {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 20px 10px 10px;
  display: flex;
  background-color: rgba(0, 53, 66, 0.75);
  border-radius: 0 0 80px 0;
}
.woocommerce ul.products li.product.tk-product .tk-product-box-icons .tk-product-box-icon-wrapper {
  margin-left: 10px;
  margin-right: 10px;
}
.woocommerce ul.products li.product.tk-product .tk-product-box-icons .tk-product-box-icon-wrapper img {
  height: 20px;
  width: auto;
}
.woocommerce ul.products li.product.tk-product .tk-description {
  padding: 30px 20px 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.woocommerce ul.products li.product.tk-product .tk-description .tk-header {
  display: flex;
}
.woocommerce ul.products li.product.tk-product .tk-description .tk-header .tk-category-icon {
  margin-left: auto;
}
.woocommerce ul.products li.product.tk-product .tk-description .tk-header .woocommerce-loop-product__title {
  padding: 0;
  line-height: 1.33;
  font-size: 30px;
  letter-spacing: 0.6px;
  color: #003542;
  font-weight: normal;
  hyphens: auto;
}
.woocommerce ul.products li.product.tk-product .tk-description .tk-header .tk-subtitle {
  font-size: 15px;
  line-height: 1.33;
  letter-spacing: 0.3px;
  color: #a4a6a7;
}
.woocommerce ul.products li.product.tk-product .tk-description hr {
  height: 4px;
  background-color: #8d9906;
  width: 50px;
  padding-left: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
  border: 0;
}
.woocommerce ul.products li.product.tk-product .tk-description .tk-footer {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-content: space-between;
}
.woocommerce ul.products li.product.tk-product .tk-description .tk-footer .tk-price-wrapper {
  display: flex;
  align-items: center;
}
.woocommerce ul.products li.product.tk-product .tk-description .tk-footer .tk-price-wrapper .price span {
  color: #003542 !important;
}
.woocommerce ul.products li.product.tk-product .tk-description .tk-footer .tk-price-wrapper .price {
  line-height: 1.2;
  color: #003542 !important;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.4px;
  margin-bottom: 0;
  margin-right: 5px;
  white-space: nowrap;
}
.woocommerce ul.products li.product.tk-product .tk-description .tk-footer .tk-price-wrapper .price span.price > span > ins > span {
  color: #003542 !important;
}
.woocommerce ul.products li.product.tk-product .tk-description .tk-footer .tk-price-wrapper .price del ins {
  text-decoration: line-through;
}
.woocommerce ul.products li.product.tk-product .tk-description .tk-footer .tk-price-wrapper .tk-price-unit {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 0.3px;
  color: #a4a6a7;
  white-space: nowrap;
}
.woocommerce ul.products li.product.tk-product .tk-description .tk-footer .tk-legal-wrapper {
  display: flex;
}
.woocommerce ul.products li.product.tk-product .tk-description .tk-footer .tk-legal-wrapper .tax-info {
  margin-right: 5px;
}
.woocommerce ul.products li.product.tk-product .tk-description .tk-footer .tk-legal-wrapper p {
  margin: 0;
  font-size: 0.8em;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 0.3px;
  color: #a4a6a7;
}
.woocommerce ul.products li.product.tk-product .tk-description .tk-footer .tk-legal-wrapper a {
  color: #a4a6a7;
}
.woocommerce ul.products li.product.tk-product .tk-description .tk-footer .tk-add-to-cart-wrapper {
  display: flex;
  flex-direction: column;
  margin: 20px 0 10px 0;
  width: 100%;
}
.woocommerce ul.products li.product.tk-product .tk-description .tk-footer .tk-add-to-cart-wrapper a {
  margin: 0;
  width: 100%;
  justify-content: center;
}
.woocommerce ul.products li.product.tk-product .tk-description .tk-footer .tk-add-to-cart-wrapper a.button {
  border-radius: 20px;
  background-color: rgba(7, 93, 114, 0.15);
  font-size: 15px;
  font-weight: bold;
  line-height: 1.33;
  letter-spacing: 0.3px;
  color: #003542;
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.woocommerce ul.products li.product.tk-product .tk-description .tk-footer .tk-add-to-cart-wrapper a.button .tk-atc-icon {
  display: inline-block;
  position: absolute;
  right: 15px;
}
.woocommerce ul.products li.product.tk-product .tk-description .tk-footer .tk-add-to-cart-wrapper a.button .tk-atc-icon img {
  width: auto;
  height: 20px;
  margin-left: 10px;
}
.woocommerce ul.products li.product.tk-product .tk-description .tk-footer .tk-add-to-cart-wrapper a.add_to_cart_button.product_type_simple {
  background-color: #faf1e0;
  color: #c59d4f;
}
.woocommerce ul.products li.product.tk-product .tk-description .tk-footer .tk-add-to-cart-wrapper .added_to_cart {
  text-align: center;
  font-size: 14px;
  color: #8d9906;
}
@media screen and (max-width: 768px) {
  .woocommerce ul.products li.product.tk-product {
    margin: 0 auto !important;
  }
  .woocommerce ul.products li.product.tk-product .tk-title {
    hyphens: auto;
  }
}
.tk-filters .tk-filter-configuration {
  display: flex;
  margin-bottom: 20px;
  position: relative;
  align-items: center;
}
.tk-filters .tk-filter-configuration .tk-filter-button {
  padding: 0 20px;
  border-radius: 2px;
  border: solid 1px #c59d4f;
  background: none;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.5;
  letter-spacing: normal;
  text-align: left;
  color: #c59d4f;
  margin-bottom: 0;
}
.tk-filters .tk-filter-configuration .tk-filter-button i {
  margin-left: 50px;
}
.tk-filters .tk-filter-configuration > form {
  margin: 0 0 0 auto !important;
  position: relative;
}
.tk-filters .tk-filter-configuration > form select {
  background: none;
  border: none;
  box-shadow: none;
  font-size: 16px;
  line-height: 2.5;
  color: #8d9906;
  text-align-last: right;
  padding: 0 30px 0 0;
  position: relative;
  margin: 0;
  width: 100%;
}
.tk-filters .tk-filter-configuration > form select option {
  text-align: right;
  direction: rtl;
}
.tk-filters .tk-filter-configuration > form:not(.woocommerce-ordering):after {
  content: '\f078';
  color: #8d9906;
  font-family: FontAwesome;
  position: absolute;
  font-size: 14px;
  top: 10px;
  right: 0;
}
.tk-filters .tk-filter-configuration .tk-filter-popup {
  position: absolute;
  border-radius: 5px;
  box-shadow: 0 10px 25px 0 rgba(13, 14, 14, 0.3);
  background-color: #ffffff;
  padding: 25px;
  z-index: 99999;
  top: 45px;
  display: none;
}
.tk-filters .tk-filter-configuration .tk-filter-popup.tk-showing {
  display: flex;
}
.tk-filters .tk-filter-configuration .tk-filter-popup .tk-filter-form {
  display: flex;
  flex-wrap: wrap;
}
.tk-filters .tk-filter-configuration .tk-filter-popup .tk-filter-form .tk-filter-column {
  margin-right: 50px;
}
.tk-filters .tk-filter-configuration .tk-filter-popup .tk-filter-form .tk-filter-column h4,
.tk-filters .tk-filter-configuration .tk-filter-popup .tk-filter-form .tk-filter-column li label {
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #003542;
}
.tk-filters .tk-filter-configuration .tk-filter-popup .tk-filter-form .tk-filter-column input {
  margin-right: 10px;
}
.tk-filters .tk-filter-configuration .tk-filter-popup .tk-filter-form .tk-filter-column ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.tk-filters .tk-filter-configuration .tk-filter-popup .tk-filter-form .tk-filter-column h4 {
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 0;
}
.tk-filters .tk-active-filters {
  display: flex;
  margin-bottom: 30px;
}
@media screen and (max-width: 960px) {
  .tk-filters .tk-active-filters {
    flex-direction: column;
  }
  .tk-filters .tk-active-filters .tk-count,
  .tk-filters .tk-active-filters .tk-remove-all,
  .tk-filters .tk-active-filters .tk-active-filter {
    margin-bottom: 10px;
  }
}
.tk-filters .tk-active-filters .tk-count {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.5;
  letter-spacing: normal;
  text-align: left;
  color: #075d72;
}
.tk-filters .tk-active-filters > div {
  margin-right: 15px;
}
.tk-filters .tk-active-filters .tk-active-filter {
  border-radius: 15px;
  border: solid 1px #dcdcdc;
  background-color: #ffffff;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.3px;
  text-align: center;
  color: #959595;
  padding: 0 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tk-filters .tk-active-filters .tk-active-filter span {
  cursor: pointer;
  margin-left: 10px;
}
.tk-filters .tk-active-filters .tk-remove-all {
  border-radius: 15px;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.3px;
  text-align: center;
  color: white;
  padding: 0 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #dcdcdc;
  background-color: #075d72;
}
.tk-filters .tk-active-filters .tk-remove-all span {
  cursor: pointer;
  margin-left: 10px;
}
.tk-filter-target .tk-no-results {
  position: absolute;
  top: 20px;
  text-align: center;
  width: 100%;
}
@media screen and (max-width: 800px) {
  .tk-filters .tk-filter-configuration {
    flex-direction: column;
  }
  .tk-filters .tk-filter-configuration .tk-filter-button {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 0 20px;
  }
  .tk-filters .tk-filter-configuration .tk-filter-button span {
    width: 100%;
  }
}
.tk-ajax-overlay-target {
  position: relative;
}
.tk-ajax-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(245, 246, 232, 0.7);
  display: none;
  justify-content: center;
  z-index: 100;
}
.tk-ajax-overlay.tk-showing {
  display: flex;
}
.tk-ajax-overlay .tk-spinner {
  margin-top: 50px;
}
.woocommerce-product-details__short-description p {
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.47;
  letter-spacing: 0.3px;
  text-align: left;
  color: #003542;
}
.tk-button {
  border-radius: 25px;
  background-color: #8d9906;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.4px;
  color: #ffffff;
  text-align: center;
  padding: 5px 30px;
  border: 0;
}
.tk-button.tk-button-outline {
  background: none;
  background-color: transparent !important;
  border: solid 1px #8d9906;
  color: #8d9906;
}
.tk-review .tk-stars {
  color: #8d9906;
}
.tk-review .tk-stars i {
  margin-right: 3px;
}
.tk-review p,
.tk-review a {
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #00556c;
  margin-bottom: 0;
  margin-top: 0;
}
.tk-review a {
  color: #8d9906;
}
.tk-post-box {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  box-sizing: border-box;
  max-width: 290px;
}
.tk-post-box .tk-header {
  position: absolute;
  background-color: rgba(0, 53, 66, 0.75);
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin: 0;
}
.tk-post-box .tk-header.tk-link-at-bottom {
  bottom: 0;
}
.tk-post-box .tk-header .tk-title {
  font-size: 15px;
  font-weight: bold;
  line-height: 1.33;
  color: #c09751;
  text-transform: uppercase;
  text-align: left;
}
.tk-post-box .tk-header .tk-title.tk-normal-title {
  text-transform: none;
  font-weight: normal;
}
.tk-post-box .tk-header .tk-arrow {
  font-size: 25px;
  font-weight: bold;
  color: #c09751;
  margin-left: auto;
}
.tk-post-box .tk-header:hover {
  text-decoration: none;
}
.tk-post-box picture {
  display: flex;
  height: fit-content;
}
.tk-post-box button {
  border-radius: 0;
}
.tk-post-box img {
  width: 100%;
}
.tk-post-box-widget h2 {
  margin-top: 0;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.4px;
  text-align: left;
  color: #8d9906;
}
#tk-product-source-form {
  display: flex;
  align-items: flex-end;
}
#tk-product-source-form label {
  margin: 0;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.67;
  letter-spacing: 0.3px;
  text-align: left;
  color: #003542;
}
#tk-product-source-form input {
  margin: 0;
  width: auto;
}
#tk-product-source-form button {
  margin-left: 20px;
  min-height: 50px;
}
#tk-product-source-form button.tk-is-loading {
  font-size: 4px;
}
#tk-source-map {
  height: 400px;
}
.tk-footer-newsletter p {
  font-size: 13px;
  font-weight: 300;
  line-height: 1.54;
  color: #ffffff;
  margin-top: 0;
  text-align: center;
}
.tk-footer-newsletter form {
  text-align: center;
}
.tk-footer-newsletter input[type=submit] {
  border-radius: 25px;
  background-color: #8d9906;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.4px;
  color: #ffffff;
  text-align: center;
  padding: 5px 30px;
  border: 0;
  margin-top: 10px;
}
.tk-footer-newsletter input[type=submit].tk-button-outline {
  background: none;
  background-color: transparent !important;
  border: solid 1px #8d9906;
  color: #8d9906;
}
.tk-mainpage-heading .tk-title-line {
  background-color: white;
  width: fit-content;
  display: table;
  margin-bottom: 5px;
  padding: 0 5px;
  color: #003542;
}
.elementor-menu-cart__container .elementor-menu-cart__products .units-info,
.elementor-menu-cart__container .elementor-menu-cart__products .delivery-time-info,
.elementor-menu-cart__container .elementor-menu-cart__products .unit-price {
  display: none;
}
.elementor-menu-cart__container .elementor-menu-cart__footer-buttons a {
  border-radius: 25px;
  background-color: #8d9906;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.4px;
  color: #ffffff;
  text-align: center;
  padding: 5px 30px;
  border: 0;
  border-radius: 25px !important;
  font-size: 18px !important;
  font-weight: bold !important;
  padding: 5px 30px !important;
}
.elementor-menu-cart__container .elementor-menu-cart__footer-buttons a.tk-button-outline {
  background: none;
  background-color: transparent !important;
  border: solid 1px #8d9906;
  color: #8d9906;
}
.woocommerce-info {
  border-radius: 5px;
  background-color: #4295b0;
  border: 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  color: #fefefe;
  max-width: 1220px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto 20px;
}
.woocommerce-info a {
  color: #fefefe;
  text-decoration: underline;
}
.woocommerce-info:before {
  content: " ";
  background-image: url("/wp-content/themes/tkt/assets/img/question-icon.png");
  height: 50px;
  width: 50px;
  background-position: center;
  background-repeat: no-repeat;
  top: 10px;
  left: 10px;
}
.woocommerce-error {
  border-radius: 5px;
  background-color: #ee786e;
  border: 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  color: #fefefe;
}
.woocommerce-error a {
  color: #fefefe;
  text-decoration: underline;
}
.woocommerce-error:before {
  content: " ";
  background-image: url("/wp-content/themes/tkt/assets/img/cross-icon.png");
  height: 50px;
  width: 50px;
  background-position: center;
  background-repeat: no-repeat;
  top: 10px;
  left: 10px;
}
.woocommerce-message {
  border-radius: 5px;
  background-color: #59b8a4;
  border: 0;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.44;
  color: #fefefe;
  max-width: 1220px;
  width: 100%;
  margin: 0 auto 20px;
  box-sizing: border-box;
}
.woocommerce-message a {
  color: #fefefe;
  text-decoration: underline;
}
.woocommerce-message:before {
  content: " ";
  background-image: url("/wp-content/themes/tkt/assets/img/done-icon.png");
  height: 50px;
  width: 50px;
  background-position: center;
  background-repeat: no-repeat;
  top: 10px;
  left: 10px;
}
.woocommerce-message .button {
  background: none !important;
  color: #8d9906 !important;
}
.woocommerce-notices-wrapper {
  display: flex;
  flex-direction: column;
  background: #faf1e0;
}
.woocommerce-cart .woocommerce-notices-wrapper,
.woocommerce-checkout .woocommerce-notices-wrapper {
  background: white;
}
.woocommerce-notices-wrapper .woocommerce-error {
  max-width: 1240px;
  width: 100%;
  margin: auto auto 20px;
}
.elementor-wc-products nav.woocommerce-pagination ul,
.elementor-wc-products nav.woocommerce-pagination li {
  border: 0 !important;
}
.elementor-wc-products nav.woocommerce-pagination li,
.elementor-wc-products nav.woocommerce-pagination li span {
  font-size: 22px;
  line-height: 1.36;
  text-align: center;
  color: #003542 !important;
  background: none !important;
}
.elementor-wc-products nav.woocommerce-pagination li a:hover {
  color: #003542 !important;
  background: none !important;
}
.tk-archive-excerpt {
  text-align: center;
}
.tk-icon-link {
  margin-right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.tk-icon-link:last-child {
  margin-right: 0;
}
.tk-icon-link img {
  margin: auto 5px auto 0;
  max-width: 22px;
}
.tk-icon-link a {
  display: flex;
  font-weight: bold;
  font-size: 15px;
  color: #8d9906;
  letter-spacing: 0.3px;
  position: relative;
}
.tk-icon-link .tk-cart-count {
  position: absolute;
  right: -5px;
  top: -5px;
  border-radius: 2px;
  background-color: #003542;
  display: flex;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.3px;
  text-align: center;
  color: #ffffff;
  justify-content: center;
  line-height: 1.2;
  padding: 0 3px;
}
.shipping-costs-info {
  color: #8d9906;
  cursor: pointer;
}
.shipping-costs-info i {
  margin-left: 2px;
  opacity: 0.5;
}
.tooltipster-base {
  max-width: 400px !important;
}
.tooltipster-base .tooltipster-box {
  border: none;
  border-radius: 5px;
  box-shadow: 0 10px 25px 0 rgba(13, 14, 14, 0.3);
  background-color: #ffffff;
  padding: 1px;
}
.tooltipster-base .tooltipster-box .tooltipster-content h1 {
  font-family: Lato;
  font-size: 35px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: 0.7px;
  text-align: left;
  color: #003542;
}
.tooltipster-base .tooltipster-box .tooltipster-content h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.tooltipster-base .tooltipster-box .tooltipster-content h3 {
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 0.4px;
  margin-bottom: 5px;
}
.tooltipster-base .tooltipster-box .tooltipster-content h4 {
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0;
}
.tooltipster-base .tooltipster-box .tooltipster-content p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.47;
  letter-spacing: 0.3px;
  color: #003542;
  margin-top: 0;
}
.tooltipster-base .tooltipster-box .tooltipster-content ol,
.tooltipster-base .tooltipster-box .tooltipster-content ul {
  padding-left: 25px;
}
.tooltipster-base .tooltipster-box .tooltipster-content ol li,
.tooltipster-base .tooltipster-box .tooltipster-content ul li {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.47;
  letter-spacing: 0.3px;
  color: #003542;
}
.tooltipster-base .tooltipster-arrow-border {
  border-top-color: white !important;
}
.tooltipster-base .tooltipster-arrow-background {
  border-top-color: white !important;
}
/*.tk-bulk-order-form {
  width: 100%;
  overflow-x: scroll;

  table {
    width: 100%;
  }


  thead tr td {
    font-weight: bold;
    padding: 10px 5px 10px 5px;
  }

  tr.tk-product, tr.tk-variable-product {
    td {
      padding: 10px 5px 10px 5px;
    }
  }

  tr.tk-variation td {
    padding: 0 5px 0 5px;
  }

  tr td {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.47;
    letter-spacing: 0.3px;
    color: @mainDarkColor;
    margin-top: 0;

    a {
      color: @mainDarkColor;
      font-weight: bold;
    }

    input {
      height: 25px;
      font-size: 16px;
      border-radius: 5px;
      background-color: #ffffff;
      border: 1px solid #dcdcdc;
      flex-grow: 2;
      margin-right: 10px;
      padding: 5px;
    }

    label {
      width: 100%;
      display: flex;
      align-items: center;
    }
  }

  thead tr td {
    background-color: #faf1e0
  }

  tr.tk-even {
    background-color: #faf1e0
  }

  tr.tk-variation td.tk-name {
    padding-left: 20px;
  }

  button {
    border-radius: 25px;
    background-color: #c59d4f;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.4px;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    margin-top: 20px;

    &.tk-sending {
      padding-right: 50px;
      background: gainsboro;

      &:after {
        font-family: WooCommerce;
        content: '\e01c';
        vertical-align: top;
        font-weight: 400;
        position: absolute;
        right: 1em;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite
      }
    }
  }
}

*/
.tk-bulk-order-form .tk-light-font {
  color: #99aeb3;
}
.tk-bulk-order-form .tk-header-row,
.tk-bulk-order-form .tk-product-row {
  display: flex;
}
.tk-bulk-order-form .tk-header-row > div,
.tk-bulk-order-form .tk-product-row > div {
  display: flex;
  align-items: center;
}
.tk-bulk-order-form .tk-header-row .tk-title-col,
.tk-bulk-order-form .tk-product-row .tk-title-col {
  flex: 2;
}
.tk-bulk-order-form .tk-header-row .tk-price-col,
.tk-bulk-order-form .tk-product-row .tk-price-col {
  flex: 1;
}
.tk-bulk-order-form .tk-header-row .tk-available-col,
.tk-bulk-order-form .tk-product-row .tk-available-col {
  flex: 1;
}
.tk-bulk-order-form .tk-header-row .tk-amount-col,
.tk-bulk-order-form .tk-product-row .tk-amount-col {
  flex: 1;
}
.tk-bulk-order-form .tk-header-row .tk-total-col,
.tk-bulk-order-form .tk-product-row .tk-total-col {
  flex: 1;
}
.tk-bulk-order-form .tk-header-row {
  font-size: 15px;
  font-weight: bold;
  color: #99aeb3;
  padding: 10px;
}
.tk-bulk-order-form .tk-category .tk-category-header {
  background-color: #dcddd0;
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  color: #003542;
  padding: 5px 10px;
}
.tk-bulk-order-form .tk-category .tk-products > .tk-product-wrapper {
  padding: 20px 0;
}
.tk-bulk-order-form .tk-category .tk-products > .tk-product-wrapper:not(:last-child) {
  border-bottom: 1px solid #8d9906;
}
.tk-bulk-order-form .tk-product-row .tk-title-col {
  display: flex;
}
.tk-bulk-order-form .tk-product-row .tk-title-col .tk-product-image {
  width: 80px;
  margin-right: 20px;
  height: 80px;
}
.tk-bulk-order-form .tk-product-row .tk-title-col .tk-product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tk-bulk-order-form .tk-product-row .tk-title-col .tk-product-desc {
  flex: 1;
}
.tk-bulk-order-form .tk-product-row .tk-title-col .tk-product-desc .tk-product-title {
  font-size: 22px;
  font-weight: bold;
  color: #003542;
}
.tk-bulk-order-form .tk-product-row .tk-title-col .tk-product-desc .tk-product-short-desc {
  font-size: 15px;
  color: #99aeb3;
}
.tk-bulk-order-form .tk-product-row .tk-total-col {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.tk-bulk-order-form .tk-product-row.tk-not-in-stock {
  color: #99aeb3;
}
.tk-bulk-order-form .tk-product-row.tk-not-in-stock .tk-product-title {
  color: #99aeb3;
}
.tk-bulk-order-form .tk-product-row .tk-amount-col label {
  width: 100%;
}
.tk-bulk-order-form .tk-product-row .tk-amount-col input {
  width: calc(100% - 50px);
  height: 50px;
  font-size: 15px;
  padding-left: 20px;
  margin-right: 10px;
}
.tk-bulk-order-form .tk-variations .tk-product-row.tk-variation {
  padding: 5px 0;
}
.tk-bulk-order-form .tk-variations .tk-product-row.tk-variation .tk-title-col .tk-product-image {
  height: 0;
}
.tk-bulk-order-form .tk-variations .tk-product-row.tk-variation .tk-title-col .tk-product-desc {
  border-left: 1px solid #8d9906;
}
.tk-bulk-order-form .tk-variations .tk-product-row.tk-variation .tk-title-col .tk-product-desc .tk-product-title {
  padding-left: 20px;
  font-size: 18px;
  font-weight: 400;
}
.tk-bulk-order-form button[type=submit] {
  border-radius: 25px;
  background-color: #c59d4f;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.4px;
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  margin-top: 20px;
}
.tk-bulk-order-form button[type=submit]:hover {
  cursor: pointer;
}
.tk-bulk-order-form button[type=submit].tk-sending {
  padding-right: 50px;
  background: gainsboro;
}
.tk-bulk-order-form button[type=submit].tk-sending:after {
  font-family: WooCommerce;
  content: '\e01c';
  vertical-align: top;
  font-weight: 400;
  position: absolute;
  right: 1em;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
.single-tk-recipe h1 {
  font-size: 20px !important;
  font-weight: bold !important;
  line-height: 1.5 !important;
  letter-spacing: 0.6px !important;
  color: #003542;
}
.single-tk-recipe h1 strong {
  font-size: 35px !important;
  letter-spacing: 0.7px !important;
}
ul.tk-recipes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 30px;
  column-gap: 30px;
  padding: 0;
}
@media screen and (max-width: 1024px) {
  ul.tk-recipes {
    grid-template-columns: 1fr 1fr;
    padding: 15px !important;
  }
}
@media screen and (max-width: 768px) {
  ul.tk-recipes {
    grid-template-columns: 1fr;
  }
  ul.tk-recipes li {
    margin: auto;
  }
}
li.tk-recipe {
  display: flex;
  flex-direction: column;
  max-width: 386px;
}
li.tk-recipe .image_wrapper a {
  display: flex;
}
li.tk-recipe .image_wrapper img {
  width: 100%;
}
li.tk-recipe .desc {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 15px 20px;
}
li.tk-recipe .tk-header {
  display: flex;
  flex-grow: 2;
  margin-bottom: 25px;
}
li.tk-recipe .tk-header .tk-title h3 a {
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: 0.5px;
  text-align: left;
  color: #003542;
  margin: 0 0 5px;
}
li.tk-recipe .tk-header .tk-title .tk-subtitle {
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: left;
  font-size: 15px;
  line-height: 1.33;
  letter-spacing: 0.3px;
  color: #99aeb3;
}
li.tk-recipe .tk-header .tk-category-icon {
  margin: 0 0 0 auto;
}
li.tk-recipe .tk-header-separator {
  margin-bottom: 25px;
}
li.tk-recipe .tk-footer {
  display: grid;
  border-top: 1px solid #99aeb3;
  padding-top: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}
li.tk-recipe .tk-footer .tk-meta .tk-meta-value {
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  text-align: left;
  color: #003542;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.4px;
}
li.tk-recipe .tk-footer .tk-meta .tk-meta-name {
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: 0.3px;
  text-align: left;
  color: #99aeb3;
}
li.tk-recipe .tk-add-to-cart {
  margin: 0 0 0 auto;
}
li.tk-recipe .tk-add-to-cart button {
  padding: 10px;
  margin: 0;
}
@media only screen and (max-width: 600px) {
  li.tk-recipe .tk-footer {
    grid-template-columns: 1fr 1fr;
  }
}
.tk-recipe-metas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  align-items: flex-end;
}
.tk-recipe-metas .tk-meta {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tk-recipe-metas .tk-meta .tk-meta-value {
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #003542;
  font-size: 30px;
  line-height: 1;
  letter-spacing: 0.6px;
  margin-bottom: 5px;
}
.tk-recipe-metas .tk-meta .tk-meta-name {
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.5px;
  text-align: center;
  color: #003542;
}
.tk-recipe-content {
  /*

  .tk-block {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 20px;
    margin-bottom: 20px;

    @media screen and (max-width: 960px) {
      grid-template-columns: 1fr;
      row-gap: 20px;
    }

    h3 {
      font-style: normal;
      font-stretch: normal;
      text-align: left;
      color: #003542;
      font-size: 20px;
      font-weight: bold;
      line-height: 1.5;
      letter-spacing: 0.4px;
    }

    .tk-ingredients {
      display: grid;
      grid-template-columns: 1fr 2fr;
      column-gap: 10px;



      .tk-amount {
        font-size: 15px;
        font-weight: bold;
        line-height: 1.47;
        color: #003542;
      }

      .tk-name {
        font-size: 15px;
        font-weight: 300;
        line-height: 1.47;
        color: #003542;
      }
    }

    .tk-steps {
      padding-left: 15px;

      li {
        font-size: 15px;
        font-weight: 300;
        line-height: 1.47;
        letter-spacing: 0.3px;
        color: #003542;
      }
    }
  }

  hr {
    border: 0;
    border-top: 1px solid #faf1e0;
  }
*/
}
.tk-recipe-content .tk-ingredient {
  margin-bottom: 10px;
}
.tk-recipe-content-tabs .elementor-tabs-wrapper {
  border-bottom: 1px solid #dcddd0;
}
.tk-recipe-content-tabs .elementor-tabs-wrapper .elementor-tab-title {
  border: none;
  padding: 15px 0;
  margin-right: 40px;
  position: relative;
  display: inline-block !important;
}
.tk-recipe-content-tabs .elementor-tabs-wrapper .elementor-tab-title a {
  color: #8d9906;
}
.tk-recipe-content-tabs .elementor-tabs-wrapper .elementor-tab-title::after {
  width: 0 !important;
  height: 5px !important;
  position: absolute;
  border: none !important;
  bottom: 0 !important;
  left: 0 !important;
  background: #003542;
  transition: 0.3s;
}
.tk-recipe-content-tabs .elementor-tabs-wrapper .elementor-tab-title.elementor-active a {
  color: #003542;
}
.tk-recipe-content-tabs .elementor-tabs-wrapper .elementor-tab-title.elementor-active::after {
  width: 90% !important;
}
.tk-recipe-content-tabs .elementor-tabs-content-wrapper {
  border: none;
}
.tk-recipe-content-tabs .elementor-tabs-content-wrapper .elementor-tab-content {
  border: none;
}
.tk-recipe-content-tabs hr {
  margin-top: 20px;
  border: 0;
  border-top: 1px solid #faf1e0;
}
.tk-sidebar-boxes h2 {
  font-size: 22px;
  font-weight: bold;
  color: #99aeb3;
  margin-top: 0;
  margin-bottom: 40px;
}
.tk-sidebar-box {
  max-width: 400px;
  margin: auto auto 60px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16) !important;
  display: block;
  transition: 0.3s;
}
.tk-sidebar-box:last-child {
  margin-bottom: 40px;
}
.tk-sidebar-box .tk-image {
  display: flex;
}
.tk-sidebar-box .tk-image img {
  width: 100%;
  margin: 0;
  height: 100%;
  max-height: 200px;
  object-fit: cover;
}
.tk-sidebar-box .tk-desc {
  padding: 20px;
  background: #fff;
}
.tk-sidebar-box .tk-desc .tk-supertitle {
  font-size: 15px;
  color: #99aeb3;
  margin-bottom: 5px;
  transition: 0.3s;
}
.tk-sidebar-box .tk-desc h4 {
  font-size: 22px;
  font-weight: bold;
  color: #003542;
  margin-top: 0;
  margin-bottom: 0;
  transition: 0.3s;
}
.tk-sidebar-box:hover {
  transform: scale(1.01);
}
.tk-sidebar-box:hover .tk-desc .tk-supertitle,
.tk-sidebar-box:hover .tk-desc h4 {
  color: #8d9906;
}
.tk-sidebar-box.tk-guest-box .tk-desc {
  background: #003542;
  position: relative;
}
.tk-sidebar-box.tk-guest-box .tk-desc::before {
  content: "";
  position: absolute;
  display: block;
  width: 100px;
  height: 100px;
  right: 25px;
  top: -75px;
  background-image: url('/wp-content/uploads/waldgourmet-einen-blick-wert.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.tk-sidebar-box.tk-guest-box .tk-desc .tk-supertitle,
.tk-sidebar-box.tk-guest-box .tk-desc h4 {
  color: #fff;
}
.tk-sidebar-box.tk-guest-box:hover {
  transform: scale(1.01);
}
.tk-sidebar-box.tk-guest-box:hover .tk-desc .tk-supertitle,
.tk-sidebar-box.tk-guest-box:hover .tk-desc h4 {
  color: #8d9906;
}
.tk-alternative-products .tk-product {
  display: flex;
  margin-bottom: 20px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16) !important;
}
.tk-alternative-products .tk-product .tk-thumbnail img {
  height: 100%;
  width: auto;
  max-width: inherit;
}
.tk-alternative-products .tk-product .tk-product-data {
  padding: 20px;
  background: #fff;
  width: 100%;
}
.tk-alternative-products .tk-product .tk-product-data h4 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 22px !important;
  font-weight: bold !important;
  color: #003542 !important;
}
.tk-alternative-products .tk-product .tk-product-data .tk-price {
  display: flex;
  font-size: 15px !important;
  color: #99aeb3 !important;
}
.tk-alternative-products .tk-product .tk-product-data .tk-price .price {
  margin-right: 5px;
}
@media screen and (max-width: 768px) {
  .tk-alternative-products .tk-product .tk-product-data {
    padding: 10px;
  }
  .tk-alternative-products .tk-product .tk-product-data h4 {
    font-size: 18px !important;
  }
  .tk-alternative-products .tk-product .tk-product-data .tk-price {
    flex-direction: column;
  }
}
.woocommerce-gzd .payment_methods .stripe-sepa-icon,
.woocommerce-gzd .payment_methods .stripe-icon {
  width: 300px !important;
  display: block;
  margin: 20px;
}
.woocommerce-gzd .payment_methods .payment_method_paypal label image {
  margin: 0 10px !important;
}
.tk-main-menu-wrapper .tk-mobile-toggle {
  display: none;
}
.tk-main-menu-wrapper .tk-main-menu {
  justify-content: flex-end;
  position: relative;
  padding: 0;
  margin: 0;
}
.tk-main-menu-wrapper .tk-main-menu ul {
  padding: 0;
}
.tk-main-menu-wrapper .tk-main-menu li {
  list-style: none;
}
.tk-main-menu-wrapper .tk-main-menu .tk-item-title .fa {
  margin-left: 5px;
}
.tk-main-menu-wrapper .tk-main-menu .tk-menu-item.tk-depth-0 {
  padding: 20px;
}
.tk-main-menu-wrapper .tk-main-menu .tk-menu-item.tk-depth-0 > .tk-item-title {
  color: #003542;
  font-weight: bold;
  text-transform: uppercase;
}
.tk-main-menu-wrapper .tk-main-menu .tk-menu-item.tk-depth-0:hover > .tk-item-title {
  color: #8d9906;
}
.tk-main-menu-wrapper .tk-main-menu .tk-column > .tk-item-title {
  color: #003542;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.tk-main-menu-wrapper .tk-main-menu .tk-column .tk-column-items .tk-normal-item {
  padding-top: 10px;
  padding-bottom: 10px;
}
.tk-main-menu-wrapper .tk-main-menu .tk-column:first-child {
  padding-right: 10px;
}
.tk-main-menu-wrapper .tk-main-menu .tk-column:not(:first-child):not(:last-child) {
  padding-left: 10px;
  padding-right: 10px;
}
.tk-main-menu-wrapper .tk-main-menu .tk-column:last-child {
  padding-left: 10px;
}
.tk-main-menu-wrapper .tk-main-menu .tk-submenu {
  display: flex;
  background: white;
  position: absolute;
  top: 50px;
  width: 100%;
  right: 0;
  padding: 20px;
  border-top: 5px solid #8d9906;
  overflow: hidden;
  transition: visibility 0s, max-height 0.2s linear;
  max-height: 0;
  visibility: hidden;
}
.tk-main-menu-wrapper .tk-main-menu .tk-submenu.tk-open {
  visibility: visible;
  max-height: 500px;
}
.tk-main-menu-wrapper .tk-main-menu .tk-submenu .tk-normal-item .tk-item-title {
  color: #003542;
}
.tk-main-menu-wrapper .tk-main-menu .tk-submenu .tk-normal-item:hover > .tk-item-title {
  color: #8d9906;
}
.tk-main-menu-wrapper .tk-main-menu .tk-submenu .tk-column {
  flex: 0.25;
}
@media screen and (min-width: 1281px) {
  .tk-main-menu-wrapper .tk-main-menu {
    display: flex !important;
  }
}
@media screen and (max-width: 1280px) {
  .tk-main-menu-wrapper {
    display: flex;
    align-items: center;
  }
  .tk-main-menu-wrapper .tk-mobile-toggle {
    display: flex;
    color: #003542;
    font-size: 20px;
    padding: 20px;
  }
  .tk-main-menu-wrapper .tk-mobile-toggle.tk-open {
    position: fixed;
    z-index: 101;
    top: 50px !important;
    right: 0 !important;
  }
  .tk-main-menu-wrapper .tk-main-menu {
    display: none;
    -webkit-overflow-scrolling: touch;
    overflow: scroll;
    padding-top: 100px;
    position: fixed;
    background: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .tk-main-menu-wrapper .tk-main-menu.tk-mobile-open {
    display: flex;
  }
  .tk-main-menu-wrapper .tk-main-menu .tk-item-title {
    text-align: center;
  }
  .tk-main-menu-wrapper .tk-main-menu .tk-menu-item {
    text-align: center;
  }
  .tk-main-menu-wrapper .tk-main-menu .tk-menu-item.tk-depth-0 {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
    margin-bottom: 30px;
  }
  .tk-main-menu-wrapper .tk-main-menu .tk-cart-link {
    display: none;
  }
  .tk-main-menu-wrapper .tk-main-menu .tk-post-box {
    margin: auto;
  }
  .tk-main-menu-wrapper .tk-main-menu .tk-submenu {
    position: relative;
    top: 0;
    border: 0;
    background-color: #f5f6e8;
    transition: visibility 0s, max-height 0.2s linear;
    max-height: 0;
    visibility: hidden;
    padding: 0;
    margin: 0;
    overflow: scroll;
  }
  .tk-main-menu-wrapper .tk-main-menu .tk-submenu.tk-open {
    margin-top: 10px;
    padding: 30px 0 20px 0;
    visibility: visible;
    flex-direction: column;
    max-height: unset !important;
  }
  .tk-main-menu-wrapper .tk-main-menu .tk-submenu .tk-column {
    padding: 0;
  }
  .tk-main-menu-wrapper .tk-main-menu .tk-submenu .tk-column:not(:last-child) {
    margin-bottom: 20px;
  }
}
.tk-hide {
  display: none !important;
}
.tk-show-on-mobile {
  display: none !important;
}
.p-0 {
  padding: 0 !important;
}
.tk-no-border {
  border: 0 !important;
}
.tk-box-image {
  min-height: 177px;
}
/*
  Change Language Flag
 */
.wpml-ls-flag {
  margin-top: 5px;
}
.tk-hyphens-auto {
  hyphens: auto;
}
/*
  Menu
 */
.menu-item-has-children > a {
  background: transparent;
  transition: all 0.3s 10s;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.menu-item-has-children:hover > a {
  transition: background-color 0.3s;
}
.tk-menu-item-img {
  display: none;
}
.plus-minus-toggle {
  display: none;
  margin-left: 10px;
}
/*
  Mega Menu
 */
.sub-menu.has-mega-menu {
  padding-top: 5px !important;
  position: fixed !important;
  top: auto;
  left: 70% !important;
  transform: translateX(-50%);
  margin: 0 !important;
  margin-top: 5px !important;
}
.sub-menu.has-mega-menu li a {
  font-weight: normal !important;
}
a.has-submenu span {
  padding-left: 5px !important;
}
a.has-submenu span i {
  font-size: 16px !important;
}
a.has-submenu.highlighted span i {
  transform: rotate(180deg);
}
.tk-mega-menu {
  position: absolute;
  width: 60vw;
  top: 0 !important;
  margin-top: -5px !important;
}
.tk-mega-menu:hover {
  display: block;
}
.elementor-menu-toggle {
  z-index: 1000000000;
}
.menu-item-has-children {
  position: relative;
}
.tk-mega-menu {
  position: static;
  max-width: 100% !important;
  z-index: 110 !important;
}
ul.sub-menu.has-mega-menu {
  position: fixed !important;
  top: 75px;
  left: 55% !important;
  transform: translateX(-50%) !important;
  background: transparent !important;
}
ul.sub-menu {
  border-radius: 5px;
}
ul.sub-menu li a:hover,
ul.sub-menu li a:active {
  border-radius: 5px !important;
}
/*
* Mega Menu Images
 */
@keyframes zoom {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
.tk-post-box .tk-header .tk-title {
  white-space: normal;
}
.tk-mega-menu-item .elementor-widget-container .elementor-heading-title a {
  margin: 0 !important;
  margin-bottom: 3px !important;
  padding: 0 !important;
  border-left: 0 !important;
}
.tk-mega-menu-item:hover .elementor-widget-container .elementor-heading-title {
  cursor: pointer;
}
@media (min-width: 1250px) and (max-width: 1500px) {
  .tk-mega-menu {
    width: 80vw;
  }
}
@media (min-width: 1024px) and (max-width: 1250px) {
  .tk-mega-menu {
    width: 85vw;
  }
  .elementor-11592 .elementor-element .elementor-element-68fc030 .elementor-nav-menu--main .elementor-item {
    padding-left: 10px !important;
  }
}
@media (max-width: 1024px) {
  body,
  html {
    overflow-x: hidden;
  }
  body {
    margin: 0;
  }
  #upper-menu,
  #upper-menu * {
    display: none !important;
  }
  .tk-show-on-mobile {
    display: flex !important;
  }
  .tk-show-on-mobile a .tk-menu-icon {
    margin-right: 10px !important;
  }
  .elementor-nav-menu--dropdown.tk-menu-overlay {
    margin-top: 0 !important;
    position: fixed;
    width: 100%;
    left: 0;
    padding: 30px;
    padding-top: 15%;
    min-height: 100vh;
    top: 0;
    overflow-y: scroll !important;
    overscroll-behavior: contain;
  }
  ul.sub-menu.has-mega-menu,
  ul.sub-menu {
    position: static !important;
    transform: translateX(0) !important;
    min-height: auto;
    overscroll-behavior: contain;
  }
  .tk-mega-menu {
    width: 100%;
  }
  .elementor-menu-toggle {
    margin-right: 10px;
    outline: none;
  }
  .elementor-menu-toggle.elementor-active {
    width: 100vw;
    position: fixed;
    left: 0;
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    border: none;
    top: 0;
    padding-top: 30px;
    padding-bottom: 15px;
    outline: none;
    background: #fff;
  }
  ul li.tk-menu-item {
    padding: 15px 2px;
  }
  ul li.tk-menu-item a {
    color: #494c4f !important;
    background: #fff !important;
    border-radius: 5px !important;
  }
  a.has-submenu.highlighted {
    color: #C59D4F !important;
  }
}
@media (max-width: 600px) {
  .elementor-nav-menu--dropdown {
    display: none;
  }
  .elementor-nav-menu--dropdown.active {
    display: block;
  }
  .elementor-nav-menu--dropdown.elementor-nav-menu__container {
    padding-top: 25%;
  }
}
@media print {
  .elementor-location-header,
  .elementor-location-footer {
    display: none !important;
  }
  .div[data-shopname="waldgourmet"] {
    display: none !important;
  }
  form,
  button {
    display: none !important;
  }
  img {
    display: none !important;
  }
  .tk-post-box-widget {
    display: none !important;
  }
  .elementor-container {
    margin: 0 !important;
  }
  .tk-recipe-content-tabs .elementor-tab-content {
    display: block !important;
  }
  .tk-recipe-sidebar {
    display: none !important;
  }
  #trustbadge-container-98e3dadd90eb493088abdc5597a70810 {
    display: none !important;
  }
  .tk-recipe-metas .tk-meta .tk-meta-value {
    font-size: 16px;
  }
  .tk-recipe-metas .tk-meta .tk-meta-name {
    font-size: 16px;
  }
  .tk-recipe-content {
    margin-top: 0 !important;
  }
}
body.woocommerce-cart .tk-subheader {
  background: transparent none !important;
}
body.woocommerce-cart .woocommerce-cart-form {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 30px;
}
@media screen and (max-width: 960px) {
  body.woocommerce-cart .woocommerce-cart-form {
    display: flex;
    flex-direction: column;
  }
}
body.woocommerce-cart .woocommerce-cart-form .woocommerce-info {
  grid-column-start: 1;
  grid-column-end: 3;
}
body.woocommerce-cart .woocommerce-cart-form table.cart {
  border: 1px solid #e5e5e5;
  padding: 20px;
}
body.woocommerce-cart .woocommerce-cart-form table.cart td {
  border: 0;
  padding-top: 20px;
  padding-bottom: 10px;
}
body.woocommerce-cart .woocommerce-cart-form table.cart th {
  border-bottom: 1px solid #8d9906;
  font-size: 16px;
  font-weight: bold;
  line-height: 2.5;
  color: #003542;
}
body.woocommerce-cart .woocommerce-cart-form table.cart td.product-thumbnail img {
  width: 90px;
  max-width: 90px;
}
body.woocommerce-cart .woocommerce-cart-form table.cart td.product-name {
  display: flex;
  flex-direction: column;
}
body.woocommerce-cart .woocommerce-cart-form table.cart td.product-name a:not(.tk-remove) {
  font-size: 16px;
  line-height: 1.5;
  color: #003542;
  font-weight: bold;
}
body.woocommerce-cart .woocommerce-cart-form table.cart td.product-name .delivery-time-info {
  display: none;
}
body.woocommerce-cart .woocommerce-cart-form table.cart td.product-name .units-info {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: #003542;
  margin-bottom: 0;
}
body.woocommerce-cart .woocommerce-cart-form table.cart td.product-name .item-desc p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: #003542;
  margin: 0;
}
body.woocommerce-cart .woocommerce-cart-form table.cart td.product-name a.tk-remove {
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  font-size: 14px;
  color: #959595;
  margin-top: 10px;
}
body.woocommerce-cart .woocommerce-cart-form table.cart td.product-name a.tk-remove img {
  width: auto;
  margin-right: 5px;
}
body.woocommerce-cart .woocommerce-cart-form table.cart td.product-quantity input {
  width: 70px;
  height: 40px;
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
}
body.woocommerce-cart .woocommerce-cart-form table.cart td.product-price {
  font-weight: 300;
  line-height: 1.38;
  color: #003542;
  text-align: center;
}
body.woocommerce-cart .woocommerce-cart-form table.cart td.product-price .unit-price {
  display: none;
}
body.woocommerce-cart .woocommerce-cart-form table.cart th.product-subtotal {
  text-align: right;
}
body.woocommerce-cart .woocommerce-cart-form table.cart td.product-subtotal {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.38;
  text-align: right;
  color: #003542;
}
@media screen and (max-width: 768px) {
  body.woocommerce-cart .woocommerce-cart-form table.cart td {
    padding: 0 10px 10px;
  }
  body.woocommerce-cart .woocommerce-cart-form table.cart td.product-name {
    text-align: left !important;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body.woocommerce-cart .woocommerce-cart-form table.cart td.product-name:before {
    margin-right: 10px;
  }
  body.woocommerce-cart .woocommerce-cart-form table.cart td.product-name a {
    margin-right: 10px;
  }
  body.woocommerce-cart .woocommerce-cart-form table.cart td.product-name .tk-remove {
    margin: 0 !important;
  }
  body.woocommerce-cart .woocommerce-cart-form table.cart td.product-thumbnail {
    padding-top: 20px;
    display: block;
    text-align: center !important;
  }
  body.woocommerce-cart .woocommerce-cart-form table.cart td.product-thumbnail:before {
    display: none;
  }
  body.woocommerce-cart .woocommerce-cart-form table.cart td.product-quantity {
    display: flex;
    align-items: center;
  }
  body.woocommerce-cart .woocommerce-cart-form table.cart td.product-quantity .quantity {
    margin-left: auto;
  }
  body.woocommerce-cart .woocommerce-cart-form table.cart td.actions {
    padding-top: 10px;
  }
  body.woocommerce-cart .woocommerce-cart-form table.cart td.product-subtotal {
    padding-bottom: 20px;
  }
}
body.woocommerce-cart .woocommerce-cart-form .cart-collaterals {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  body.woocommerce-cart .woocommerce-cart-form .cart-collaterals {
    flex-direction: column-reverse;
  }
}
body.woocommerce-cart .woocommerce-cart-form .cart_totals {
  width: 100%;
  border: 1px solid #e5e5e5;
  padding: 20px;
}
body.woocommerce-cart .woocommerce-cart-form .cart_totals h2 {
  font-size: 20px;
  font-weight: bold;
  line-height: 2;
  color: #003542;
  margin-top: 0;
  margin-bottom: 20px;
}
body.woocommerce-cart .woocommerce-cart-form .cart_totals hr {
  border: 1px solid #c59b53;
  margin-bottom: 20px;
}
body.woocommerce-cart .woocommerce-cart-form .cart_totals table {
  border: 0;
  padding: 0;
}
body.woocommerce-cart .woocommerce-cart-form .cart_totals table td,
body.woocommerce-cart .woocommerce-cart-form .cart_totals table th {
  border: 0;
  padding-left: 0;
  padding-right: 0;
}
body.woocommerce-cart .woocommerce-cart-form .cart_totals table th,
body.woocommerce-cart .woocommerce-cart-form .cart_totals table .tk-header {
  font-size: 15px;
  font-weight: bold;
  line-height: 1.47;
  color: #003542;
  text-align: left;
}
body.woocommerce-cart .woocommerce-cart-form .cart_totals table td {
  text-align: right;
  font-size: 15px;
  font-weight: 300;
  color: #003542;
}
body.woocommerce-cart .woocommerce-cart-form .cart_totals table tr.cart-subtotal th {
  font-weight: 300;
}
body.woocommerce-cart .woocommerce-cart-form .cart_totals table tr.cart-subtotal th,
body.woocommerce-cart .woocommerce-cart-form .cart_totals table tr.cart-subtotal td {
  padding-bottom: 0;
}
body.woocommerce-cart .woocommerce-cart-form .cart_totals table tr.order-total td,
body.woocommerce-cart .woocommerce-cart-form .cart_totals table tr.order-total th {
  border-bottom: 1px solid #8d9906;
  border-top: 1px solid #8d9906;
}
body.woocommerce-cart .woocommerce-cart-form .cart_totals table tr.shipping td {
  padding-bottom: 0;
}
body.woocommerce-cart .woocommerce-cart-form .cart_totals table tr.fee th {
  width: 100%;
  font-weight: 300;
}
body.woocommerce-cart .woocommerce-cart-form .cart_totals table tr.fee th,
body.woocommerce-cart .woocommerce-cart-form .cart_totals table tr.fee td {
  padding-top: 0;
}
body.woocommerce-cart .woocommerce-cart-form .cart_totals table tr.shipping li {
  margin-bottom: 0;
  display: flex;
  align-items: center;
}
body.woocommerce-cart .woocommerce-cart-form .cart_totals table tr.shipping input[type=radio] {
  margin-right: 20px !important;
}
body.woocommerce-cart .woocommerce-cart-form .cart_totals table tr.shipping label {
  display: flex !important;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.47;
  text-align: left;
  color: #003542;
  padding: 0;
  width: 100%;
}
body.woocommerce-cart .woocommerce-cart-form .cart_totals table tr.shipping label span {
  margin-left: auto;
  font-size: 15px;
  font-weight: 300 !important;
  text-align: right;
  color: #003542;
}
body.woocommerce-cart .woocommerce-cart-form .cart_totals table tr.shipping label span.amount {
  padding-left: 20px;
  min-width: 100px;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  margin-left: auto;
}
body.woocommerce-cart .woocommerce-cart-form .cart_totals table tr.shipping label span.amount .woocommerce-Price-currencySymbol {
  margin-left: 0;
}
body.woocommerce-cart .woocommerce-cart-form .cart_totals .wc-proceed-to-checkout {
  padding: 0;
  margin-top: 20px;
}
body.woocommerce-cart .woocommerce-cart-form .cart_totals .wc-proceed-to-checkout a {
  border-radius: 25px;
  background-color: #8d9906;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.4px;
  color: #ffffff;
  text-align: center;
  padding: 5px 30px;
  border: 0;
  padding: 10px 0;
  margin: 0;
}
body.woocommerce-cart .woocommerce-cart-form .cart_totals .wc-proceed-to-checkout a.tk-button-outline {
  background: none;
  background-color: transparent !important;
  border: solid 1px #8d9906;
  color: #8d9906;
}
@media screen and (max-width: 768px) {
  body.woocommerce-cart .woocommerce-cart-form .cart_totals tr.cart-subtotal td {
    padding-bottom: 10px !important;
  }
  body.woocommerce-cart .woocommerce-cart-form .cart_totals tr.cart-subtotal td:before {
    font-weight: 300;
  }
  body.woocommerce-cart .woocommerce-cart-form .cart_totals tr.shipping td {
    padding-top: 0;
  }
  body.woocommerce-cart .woocommerce-cart-form .cart_totals tr.shipping td:before {
    display: none;
  }
  body.woocommerce-cart .woocommerce-cart-form .cart_totals tr.shipping span.amount {
    min-width: 100px;
  }
  body.woocommerce-cart .woocommerce-cart-form .cart_totals tr.fee td {
    display: flex;
  }
  body.woocommerce-cart .woocommerce-cart-form .cart_totals tr.fee td:before {
    text-align: left;
    font-weight: 300;
  }
  body.woocommerce-cart .woocommerce-cart-form .cart_totals tr.fee td span.amount {
    min-width: 100px;
  }
}
body.woocommerce-cart .woocommerce-cart-form .coupon {
  border: 1px solid #e5e5e5;
  padding: 20px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
body.woocommerce-cart .woocommerce-cart-form .coupon label {
  font-size: 15px;
  font-weight: bold;
  line-height: 2.67;
  color: #003542;
}
body.woocommerce-cart .woocommerce-cart-form .coupon input {
  border-radius: 5px;
  background-color: #ffffff;
  margin-bottom: 20px;
}
body.woocommerce-cart .woocommerce-cart-form .coupon button {
  border-radius: 25px;
  background-color: #8d9906;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.4px;
  color: #ffffff;
  text-align: center;
  padding: 5px 30px;
  border: 0;
  background: none;
  background-color: transparent !important;
  border: solid 1px #8d9906;
  color: #8d9906;
  padding: 10px 0;
}
body.woocommerce-cart .woocommerce-cart-form .coupon button.tk-button-outline {
  background: none;
  background-color: transparent !important;
  border: solid 1px #8d9906;
  color: #8d9906;
}
.ui-datepicker-buttonpane.ui-widget-content {
  display: none !important;
}
body.woocommerce-checkout .tk-subheader {
  background: transparent none !important;
}
body.woocommerce-checkout form.checkout {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 30px;
}
@media screen and (max-width: 960px) {
  body.woocommerce-checkout form.checkout {
    display: flex;
    flex-direction: column;
  }
  body.woocommerce-checkout form.checkout .product-name {
    display: flex;
    flex-direction: column!important;
  }
}
body.woocommerce-checkout form.checkout .woocommerce-NoticeGroup {
  grid-column-start: 1;
  grid-column-end: 3;
}
body.woocommerce-checkout #customer_details {
  padding: 25px 35px;
  border: 1px solid #e5e5e5;
  margin-bottom: 30px;
}
body.woocommerce-checkout #customer_details label {
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.67;
  letter-spacing: normal;
  text-align: left;
  color: #003542;
}
body.woocommerce-checkout #customer_details label[for=e_deliverydate] {
  display: none;
}
body.woocommerce-checkout #customer_details h3 {
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.35;
  letter-spacing: normal;
  text-align: left;
  color: #003542;
  margin: 0;
}
body.woocommerce-checkout #customer_details .woocommerce-additional-fields {
  margin-bottom: 30px;
}
body.woocommerce-checkout #customer_details #billing_country_field strong,
body.woocommerce-checkout #customer_details #shipping_country_field strong {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.47;
  letter-spacing: 0.3px;
  color: #003542;
}
body.woocommerce-checkout #order_review {
  padding: 25px 35px;
  border: 1px solid #e5e5e5;
}
body.woocommerce-checkout #order_review h3 {
  margin: 0 0 10px;
  font-size: 20px;
  font-weight: bold;
  line-height: 2;
  text-align: left;
  color: #003542;
}
body.woocommerce-checkout #order_review hr {
  border: 1px solid #c59b53;
  margin-bottom: 20px;
}
body.woocommerce-checkout #order_review table.shop_table {
  background-color: transparent;
  border: 0;
  margin-bottom: 30px;
}
body.woocommerce-checkout #order_review table.shop_table .units-info,
body.woocommerce-checkout #order_review table.shop_table .delivery-time-info,
body.woocommerce-checkout #order_review table.shop_table .item-desc,
body.woocommerce-checkout #order_review table.shop_table .attachment-woocommerce_thumbnail,
body.woocommerce-checkout #order_review table.shop_table .unit-price {
  display: none;
}
body.woocommerce-checkout #order_review table.shop_table th,
body.woocommerce-checkout #order_review table.shop_table td {
  padding: 0;
  border: 0;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.47;
  color: #003542;
}
body.woocommerce-checkout #order_review table.shop_table th .product-quantity,
body.woocommerce-checkout #order_review table.shop_table td .product-quantity {
  font-weight: 300;
}
body.woocommerce-checkout #order_review table.shop_table td:last-child,
body.woocommerce-checkout #order_review table.shop_table th:last-child {
  text-align: right;
  min-width: 100px;
}
body.woocommerce-checkout #order_review table.shop_table .tk-header {
  text-align: left;
}
body.woocommerce-checkout #order_review table.shop_table th.product-name,
body.woocommerce-checkout #order_review table.shop_table th.product-total,
body.woocommerce-checkout #order_review table.shop_table .tk-header {
  font-weight: bold;
}
body.woocommerce-checkout #order_review table.shop_table tr.cart-subtotal td,
body.woocommerce-checkout #order_review table.shop_table tr.cart-subtotal th {
  padding-top: 10px;
  padding-bottom: 20px;
}
body.woocommerce-checkout #order_review table.shop_table tr.fee td,
body.woocommerce-checkout #order_review table.shop_table tr.fee th {
  padding-top: 10px;
  padding-bottom: 10px;
}
body.woocommerce-checkout #order_review table.shop_table .product-total {
  font-weight: 300 !important;
}
body.woocommerce-checkout #order_review table.shop_table tr.cart-subtotal.recurring-total,
body.woocommerce-checkout #order_review table.shop_table tr.shipping.recurring-total {
  display: none;
}
body.woocommerce-checkout #order_review table.shop_table tr.order-total td,
body.woocommerce-checkout #order_review table.shop_table tr.order-total th {
  padding: 10px 0;
  border-bottom: 1px solid #8d9906;
  border-top: 1px solid #8d9906;
}
body.woocommerce-checkout #order_review table.shop_table tr.order-total th {
  font-weight: bold;
}
body.woocommerce-checkout #order_review table.shop_table tr.order-tax td,
body.woocommerce-checkout #order_review table.shop_table tr.order-tax th {
  padding-top: 10px;
}
body.woocommerce-checkout #order_review table.shop_table tr.shipping li {
  margin-bottom: 0;
  display: flex;
  align-items: center;
}
body.woocommerce-checkout #order_review table.shop_table tr.shipping input[type=radio] {
  margin-right: 20px !important;
}
body.woocommerce-checkout #order_review table.shop_table tr.shipping label {
  display: flex !important;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.47;
  text-align: left;
  color: #003542;
  padding: 0;
  width: 100%;
}
body.woocommerce-checkout #order_review table.shop_table tr.shipping label span {
  margin-left: auto;
  font-size: 15px;
  font-weight: 300 !important;
  text-align: right;
  color: #003542;
}
body.woocommerce-checkout #order_review table.shop_table tr.shipping label span.amount {
  padding-left: 20px;
  min-width: 100px;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  margin-left: auto;
}
body.woocommerce-checkout #order_review table.shop_table tr.shipping label span.amount .woocommerce-Price-currencySymbol {
  margin-left: 0;
}
body.woocommerce-checkout #order_review #payment {
  background: none;
  margin-bottom: 30px;
}
body.woocommerce-checkout #order_review #payment ul {
  padding: 0;
  border: 0;
}
body.woocommerce-checkout #order_review #order_review_heading,
body.woocommerce-checkout #order_review #order_payment_heading {
  display: none !important;
}
body.woocommerce-checkout #order_review .checkbox-legal {
  margin-bottom: 30px;
}
body.woocommerce-checkout #order_review .checkbox-legal input {
  margin-top: 5px;
}
body.woocommerce-checkout #order_review .checkbox-legal label[for=legal] {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.47;
  text-align: left;
  color: #003542;
  display: grid;
  grid-template-columns: 15px 1fr;
  padding: 0;
  column-gap: 10px;
}
body.woocommerce-checkout #order_review .wc-gzd-place-order {
  padding: 0;
}
body.woocommerce-checkout #order_review .wc-gzd-place-order button {
  width: 100%;
  color: white;
  border-radius: 25px;
  background-color: #57b49c;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.11;
  letter-spacing: 0.4px;
  text-align: center;
}
/* Mobile: order success Page */
@media screen and (max-width: 400px) {
  .woocommerce ul.order_details li {
    margin-bottom: 20px;
  }
}
.tk-mega-menu-item:hover .elementor-widget-container .elementor-heading-title {
  color: #8d9906 !important;
}
.tk-menu-icon {
  margin-right: 5px !important;
}
@media screen and (max-width: 400px) {
  * {
    hyphens: auto;
    word-break: break-word;
  }
}
.wdr_product_strikeout del {
  display: none;
}
.wdr_product_strikeout ins {
  text-decoration: none;
}
@media screen and (max-width: 1024px) {
  .tk-waldgourmet-konzept {
    background: none !important;
  }
  a.has-submenu.highlighted {
    color: #8d9906 !important;
  }
}
.elementor-button {
  background-color: #8d9906 !important;
}
.tk-my-account * ul {
  list-style: none !important;
}
.tk-my-account * ul li {
  padding: 15px 20px !important;
}
