table.cart {
  border: 1px solid #e5e5e5;
  padding: 20px;

  td {
    border: 0;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  th {
    border-bottom: 1px solid @mainBrandColor;
    font-size: 16px;
    font-weight: bold;
    line-height: 2.5;
    color: #003542;
  }

  td.product-thumbnail {
    img {
      width: 90px;
      max-width: 90px;
    }
  }

  td.product-name {
    display: flex;
    flex-direction: column;

    a:not(.tk-remove) {
      font-size: 16px;
      line-height: 1.5;
      color: #003542;
      font-weight: bold;
    }

    .delivery-time-info {
      display: none;
    }

    .units-info {
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
      color: #003542;
      margin-bottom: 0;
    }

    .item-desc p {
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
      color: #003542;
      margin: 0;
    }

    a.tk-remove {
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: left;
      font-size: 14px;
      color: #959595;
      margin-top: 10px;

      img {
        width: auto;
        margin-right: 5px;
      }


    }
  }

  td.product-quantity {
    input {
      width: 70px;
      height: 40px;
      border-radius: 5px;
      background-color: #ffffff;
      border: 1px solid #dcdcdc;
    }
  }

  td.product-price {
    font-weight: 300;
    line-height: 1.38;
    color: #003542;

    text-align: center;

    .unit-price {
      display: none;
    }
  }

  th.product-subtotal {
    text-align: right;
  }

  td.product-subtotal {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.38;
    text-align: right;
    color: #003542;
  }

}

@media screen and (max-width: 768px) {
  table.cart {
    td {
      padding: 0 10px 10px;
    }


    td.product-name {
      text-align: left !important;
      display: flex;
      flex-direction: column;
      align-items: center;

      &:before {
        margin-right: 10px;
      }

      a {
        margin-right: 10px;
      }

      .tk-remove {
        margin: 0 !important;
      }
    }

    td.product-thumbnail {
      padding-top: 20px;
      display: block;
      text-align: center !important;

      &:before {
        display: none;
      }
    }

    td.product-quantity {
      display: flex;
      align-items: center;

      .quantity {
        margin-left: auto;
      }
    }

    td.actions {
      padding-top: 10px;
    }

    td.product-subtotal {
      padding-bottom: 20px;
    }
  }
}
