body.woocommerce-cart {
  .tk-subheader {
    background: transparent none !important;
  }

  .woocommerce-cart-form {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 30px;

    @media screen and (max-width: 960px) {
      display: flex;
      flex-direction: column;
    }

    .woocommerce-info {
      grid-column-start: 1;
      grid-column-end: 3;
    }

    @import "cart-table";

    .cart-collaterals {
      display: flex;
      flex-direction: column;

      @media screen and (max-width: 768px) {
        flex-direction: column-reverse;
      }
    }

    @import "cart-totals";

    .coupon {
      border: 1px solid #e5e5e5;
      padding: 20px;
      margin-top: 15px;
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      label {
        font-size: 15px;
        font-weight: bold;
        line-height: 2.67;
        color: #003542;
      }

      input {
        border-radius: 5px;
        background-color: #ffffff;
        margin-bottom: 20px;
      }

      button {
        .tk-button();
        .tk-button.tk-button-outline();
        padding: 10px 0;
      }
    }
  }
}

.ui-datepicker-buttonpane.ui-widget-content {
  display: none !important;
}