.cart_totals {
  width: 100%;
  border: 1px solid #e5e5e5;
  padding: 20px;

  h2 {
    font-size: 20px;
    font-weight: bold;
    line-height: 2;
    color: #003542;
    margin-top: 0;
    margin-bottom: 20px;
  }

  hr {
    border: 1px solid #c59b53;
    margin-bottom: 20px;
  }

  table {
    border: 0;
    padding: 0;

    td, th {
      border: 0;
      padding-left: 0;
      padding-right: 0;
    }

    th, .tk-header {
      font-size: 15px;
      font-weight: bold;
      line-height: 1.47;
      color: #003542;
      text-align: left;
    }

    td {
      text-align: right;
      font-size: 15px;
      font-weight: 300;
      color: #003542;
    }

    tr.cart-subtotal {
      th {
        font-weight: 300;
      }
      th, td {
        padding-bottom: 0;
      }
    }

    tr.order-total {
      td, th {
        border-bottom: 1px solid @mainBrandColor;
        border-top: 1px solid @mainBrandColor;
      }
    }

    tr.shipping {
      td {
        padding-bottom: 0;
      }
    }

    tr.fee {
      th {
        width: 100%;
        font-weight: 300;
      }

      th, td {
        padding-top: 0;
      }
    }

    @import (multiple) "shipping";
  }

  .wc-proceed-to-checkout {
    padding: 0;
    margin-top: 20px;

    a {
      .tk-button();
      padding: 10px 0;
      margin: 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .cart_totals {
    tr.cart-subtotal {
      td {
        padding-bottom: 10px !important;

        &:before {
          font-weight: 300;
        }
      }
    }

    tr.shipping {
      td {
        padding-top: 0;
      }

      td:before {
        display: none;
      }

      span.amount {
        min-width: 100px;
      }
    }

    tr.fee {
      td {
        display: flex;

        &:before {
          text-align: left;
          font-weight: 300;
        }

        span.amount {
          min-width: 100px;
        }
      }
    }
  }
}