tr.shipping {
  li {
    margin-bottom: 0;
    display: flex;
    align-items: center;
  }

  input[type=radio] {
    margin-right: 20px !important;
  }

  label {
    display: flex !important;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.47;
    text-align: left;
    color: #003542;
    padding: 0;
    width: 100%;

    span {
      margin-left: auto;
      font-size: 15px;
      font-weight: 300 !important;
      text-align: right;
      color: #003542;
    }

    span.amount {
      padding-left: 20px;
      min-width: 100px;
      justify-content: flex-end;
      display: flex;
      align-items: center;
      margin-left: auto;

      .woocommerce-Price-currencySymbol {
        margin-left: 0;
      }
    }
  }
}
