<div class="tk-active-filters">
    <div class="tk-count">
        {% if resultCount == 1 %}
            {{ resultCount }} {{ name }}
        {% else %}
            {{ resultCount }} {{ name }}e
        {% endif %}
    </div>

    {% if filters is not empty or inStock  %}
        <div class="tk-remove-all">
            Alle Filter löschen
            <span class="tk-remove">X</span>
        </div>
    {% endif %}

    {% for taxonomy, terms in filters %}
        {% for term in terms %}
            <div class="tk-active-filter" data-tk-taxonomy="{{ taxonomy }}" data-tk-term="{{ term.slug }}" data-tk-for="{{ taxonomy }}-{{ term.slug }}">
                {{ term.name }}
                <span class="tk-remove">X</span>
            </div>
        {% endfor %}
    {% endfor %}

    {% if (inStock) %}
        <div class="tk-active-filter" data-tk-for="tk-inStock">
            Auf Lager
            <span class="tk-remove">X</span>
        </div>
    {% endif %}
</div>