<div class="tk-filters">
    <div class="tk-filter-configuration">
        <button class="tk-filter-button">
            <span>{{ name }}e filtern</span> <i class="fas fa-chevron-down" aria-hidden="true"></i>
        </button>

        {% if postType == "product" or isShop %}
            {{ woocommerce_catalog_ordering() }}
        {% endif %}
        <div class="tk-filter-popup">
            {% set taxBindings = get_tax_query_bindings(postType) %}

            <form class="tk-filter-form">
                <input type="hidden" name="default-taxonomy" value="{{ taxonomy }}">
                <input type="hidden" name="default-term" value="{{ term }}">
                <input type="hidden" name="post-type" value="{{ postType }}">

                {% for taxBinding in taxBindings %}
                    {% set taxName = taxBinding.Taxonomy() %}
                    {% set parameter = taxBinding.QueryParam() %}
                    {% set taxonomy = taxName | wptaxonomy %}
                    {% set label = taxonomy.labels.singular_name %}
                    {% set terms = taxName | wpterms %}

                    {% set activeFilters = get_filter_slugs(filters, taxName) %}

                    {% if terms is not empty %}
                        <div class="tk-filter-column">
                            <h4>Nach {{ label }}</h4>
                            <ul>
                                {% for term in terms %}
                                    {% set checked = term.slug in activeFilters | keys ? "checked" : "" %}
                                    {% set checkboxId = taxName ~ "-"~ term.slug %}
                                    <li><label for='{{ checkboxId }}'>
                                            <input id='{{ checkboxId }}' type='checkbox'
                                                   data-tk-query-param='{{ parameter }}'
                                                   name='{{ taxName }}'
                                                   value='{{ term.slug }}' {{ checked }}>{{ term.name }}
                                        </label>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>

                    {% endif %}

                {% endfor %}
                <div class="tk-filter-column">
                    <h4>Verfügbarkeit</h4>
                    <ul>
                        <li><label for='tk-inStock'>
                                <input id='tk-inStock'
                                       type='checkbox'
                                       data-tk-query-param='inStock'
                                       name='inStock'
                                       value='1'
                                       {{ inStock ? 'checked' }}
                                >Auf Lager
                            </label>
                        </li>
                    </ul>
                </div>

            </form>
        </div>
    </div>
    <div class="tk-active-filters-wrapper">
        {% include "active-filters.twig" with {
            resultCount: resultCount,
            filters: filters,
            inStock: inStock
        } %}
    </div>
</div>
