<form id="tk-product-source-form">
    <label>
        Wildmarkennummer:
        <input type="text" name="tag-id" placeholder="Wildmarken-Nummer" required minlength="3">
    </label>

    <button type="submit" class="tk-button">Zur Herkunft</button>
</form>
<p class="tk-not-found" style="display: none">Kein Wild mit dieser Wildmarke gefunden!</p>
