<div class="tk-review">
    <div class="tk-stars">
        {% for i in range(1, stars) %}
            <i class="fas fa-star" aria-hidden="true"></i>
        {% endfor %}
    </div>
    <p>{{ text }}</p>
    <a class="tk-author" target="_blank" href="{{ url.url}}">{{ author }} | {{ date | date("m.d.Y") }}</a>
</div>
