<div class="tk-large-post-box">
    <picture class="tk-image">
        {% if imageSize_mobile %}
            <source srcset="{{ post | wpthumbnailurl(imageSize_mobile) }}"
                    media="(max-width: 500px)">
        {% endif %}
        {% if imageSize_mobile_landscape %}
            <source srcset="{{ post | wpthumbnailurl(imageSize_mobile) }}"
                    media="(max-width: 960px)">
        {% endif %}
        {% if imageSize_tablet %}
            <source srcset="{{ post | wpthumbnailurl(imageSize_tablet) }}"
                    media="(max-width: 1240px)">
        {% endif %}

        {{ post | wpthumbnail(imageSize | default("tk-large-post-box")) }}
    </picture>
    <div class="tk-description">

        <h3>{{ post | wptitle }}</h3>
        <div class="tk-title-separator"></div>
        <div class="tk-content">
            {{ post | wpexcerpt }}

            <a class="tk-read-more" href="{{ post | wpurl }}">Mehr erfahren</a>
        </div>
    </div>
    <div class="tk-read-more-button">
        <a href="{{ post | wpurl }}">→</a>
    </div>
</div>