<a href="{{ post | wpurl }}">
    <div class="tk-post-box">
        {% set headerClass = linkAtBottom ? "tk-link-at-bottom" : "" %}
        {% set titleClass = normalTitle ? "tk-normal-title" : "" %}
        <div class="tk-header {{ headerClass }}">
            <span class="tk-title {{ titleClass }}">{{ linkTitle | default(post | wptitle) }}</span>
            <span class="tk-arrow"><i class="fas fa-arrow-circle-right" aria-hidden="true"></i></span>
        </div>
        <picture>
            {% if imageSize_mobile %}
                <source srcset="{{ post | wpthumbnailurl(imageSize_mobile) }}"
                        media="(max-width: 400px)">
            {% endif %}
            {% if imageSize_mobile_landscape %}
                <source srcset="{{ post | wpthumbnailurl(imageSize_mobile_landscape) }}"
                        media="(max-width: 960px)">
            {% endif %}
            {% if imageSize_tablet %}
                <source srcset="{{ post | wpthumbnailurl(imageSize_tablet) }}"
                        media="(max-width: 1240px)">
            {% endif %}
            {{ post | wpthumbnail(imageSize | default("tk-large-post-box")) }}
        </picture>
    </div>
</a>
