{{ recipe | wgRecipeStructuredData }}
{% set cookingTime = recipe | wpmeta("tk-cooking-time") %}
{% if cookingTime %}
    <div class="tk-meta">
        <div class="tk-meta-value">
            {{ cookingTime }} Min.
        </div>
        <div class="tk-meta-name">
            Zubereitung
        </div>
    </div>
{% endif %}

{% set overallTime = recipe | wpmeta("tk-overall-time") %}
{% if overallTime %}
    <div class="tk-meta">
        <div class="tk-meta-value">
            {{ overallTime }} Min.
        </div>
        <div class="tk-meta-name">
            Gesamtzeit
        </div>
    </div>
{% endif %}
{#
{% set difficulty = recipe | wpmeta("tk-difficulty") %}
{% if difficulty %}
    <div class="tk-meta">
        <div class="tk-meta-value">
            {{ difficulty }}
        </div>
        <div class="tk-meta-name">
            Schwierigkeit
        </div>
    </div>
{% endif %}
#}