<li class="tk-recipe">
    <div class="scale-with-grid product-loop-thumb">
        <div class="image_wrapper">
            <a href="{{ recipe | wpurl }}">
                {{ recipe | wpthumbnail("tk-shop-archive") }}
            </a>
        </div>
    </div>

    <div class="desc">
        <div class="tk-header">
            <div class="tk-title">
                <h3>
                    <a href="{{ recipe | wpurl }}">
                        {{ recipe | wpmeta("tk-display-title") }}
                    </a>
                </h3>
                {% set subtitle = recipe | wpmeta("tk-subtitle") %}
                {% if subtitle %}
                    <div class="tk-subtitle">{{ subtitle }}</div>
                {% endif %}
            </div>
        </div>
        <div class="tk-footer">
            {% include "recipe-metas.twig" %}
        </div>
    </div>
</li>
