<div class="tk-recipe-ingredients">
    {% set blocks = recipe | wgRecipeBlocks %}
    {% for block in blocks %}
        <div class="tk-block">
            <div class="tk-ingredients-column">
                <h3>Zutaten {{ block.header }} </h3>
                <div class="tk-ingredients">
                    {% for line in block.ingredientLines %}
                        {% set splitLine = line | split('|') %}
                        <div class="tk-ingredient">
                            <b>{{ splitLine[0] | trim }}</b> {{ splitLine[1] | trim }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}
</div>