{{ recipe | wgRecipeStructuredData }}
<div class="tk-recipe-content">
    {% set blocks = recipe | wgRecipeBlocks %}
    {% for block in blocks %}
        <div class="tk-block">
            <div class="tk-ingredients-column">
                <h3>Zutaten {{ block.header }} </h3>
                <div class="tk-ingredients">
                    {% for line in block.ingredientLines %}
                        {% set splitLine = line | split('|') %}
                        <div class="tk-amount">
                            {{ splitLine[0] | trim }}
                        </div>
                        <div class="tk-name">
                            {{ splitLine[1] | trim }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="tk-steps-column">
                <h3>Zubereitung {{ block.header }} </h3>
                <ol class="tk-steps">
                    {% for line in block.stepLines %}
                        <li>{{ line }}</li>
                    {% endfor %}
                </ol>
            </div>

        </div>
        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}
</div>