<div class="tk-recipe-ingredients">
    {#
    {% set blocks = recipe | wgRecipeBlocks %}
    {% for block in blocks %}
        <div class="tk-block">
            <div class="tk-steps-column">
                <h3>Zubereitung {{ block.header }} </h3>
                {% for line in block.stepLines %}
                    {{ line }}
                {% endfor %}
            </div>
        </div>
        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}
    #}

    {{ recipe | wpmeta('tk-steps') }}
</div>