form.tk-add-to-cart, .elementor-widget-tk-add-to-cart {

  .tk-product-configuration {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 20px;
    row-gap: 10px;
    margin-bottom: 30px;

    select, input, label, div.quantity {
      width: 100%;
      margin: 0;
      text-align: left;
    }

    .label {
      min-width: 130px;
    }

    label {
      font-size: 15px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.67;
      letter-spacing: 0.3px;
      text-align: left;
      color: #003542;
      padding-right: 20px;
    }

    .screen-reader-text {
      display: none;
    }

    .tk-availability {
      i {
        color: @mainBrandColor
      }
    }

    div {
      align-self: center;
    }

    div.value {
      font-size: 15px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: 0.3px;
      text-align: left;
      color: #003542;
    }

    select, input {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      font-size: 15px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.67;
      letter-spacing: 0.3px;
      text-align: left !important;
      color: #003542;
      border-radius: 2px;
      background-color: #ffffff;
      border: 1px solid #dcdcdc;
      padding-left: 20px;
      padding-right: 20px;
      width: 100% !important;
      height: 50px;
    }

  }

  .tk-waiting-list-heading {
    margin-top: 25px;

    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: 0.7px;
    color: #003542;
  }

  #mc_embed_signup {
    display: flex;
    flex-direction: column;

    #mc_embed_signup_scroll {
      display: flex;
      margin-bottom: 10px;

      input[type=email] {
        width: 100%;
        margin: 0;
      }

      .tk-button {
        display: flex;
        min-width: fit-content;
        max-width: fit-content;
        margin: auto 0 auto 20px;
        padding: 0 20px;
        line-height: 2;
        font-weight: normal;
      }
    }

  }

  .tk-price-wrapper {
    .tk-price {
      .price:not(.price-unit) {
        font-size: 28px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: 0.6px;
        text-align: left;
        color: #003542;
      }

      .tk-price-unit {
        font-size: 20px;
        margin-bottom: 10px;
      }

    }

    .tk-additional-price-infos {
      display: inline;

      p {
        margin: 0;
        font-size: 15px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.47;
        letter-spacing: 0.3px;
        text-align: left;
        color: #003542;
      }

      .price-unit {
        display: none;
      }
    }

    .legal-price-info {
      font-size: 15px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.47;
      letter-spacing: 0.3px;
      text-align: left;
      color: #003542;

      > p {
        display: flex;
        flex-direction: column;
      }

      a {
        color: @mainBrandColor;
      }
    }
  }

  .tk-add-to-cart-footer {
    display: flex;

    .tk-add-to-cart-wrapper {
      margin: 0 0 auto auto;
      text-align: center;

      button {
        margin: 0;
        position: relative;

        &.tk-sending {
          padding-right: 50px;
          background: gainsboro;

          &:after {
            font-family: WooCommerce;
            content: '\e01c';
            vertical-align: top;
            font-weight: 400;
            position: absolute;
            right: 1em;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite
          }
        }

        &.tk-done {
          padding-right: 20px;

          &:after {
            font-family: WooCommerce;
            content: '\e017';
            margin-left: .53em;
            vertical-align: bottom;
          }
        }

        &:disabled {
          cursor: not-allowed;
          background-color: fade(#075d72, 15%) !important;
          font-weight: bold !important;
          color: #003542 !important;
        }
      }

      .added_to_cart {
        text-align: center;
        font-size: 14px;
        color: @mainBrandColor;
      }
    }
  }

  .tk-add-single-variation-link {
    display: block;
    padding: 10px 0;
    font-size: 15px;

    &:hover {
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 560px) {
  form.tk-add-to-cart {
    .tk-add-to-cart-footer {
      flex-direction: column;

      .tk-price-wrapper {
        margin-bottom: 20px;
      }

      .tk-add-to-cart-wrapper {
        width: 100%;

        button {
          width: 100%;
        }
      }
    }
  }
}
