.tk-ajax-overlay-target {
  position: relative;

}

.tk-ajax-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: fade(@brandColorMuted, 70%);
  display: none;
  justify-content: center;
  z-index: 100;

  &.tk-showing {
    display: flex;
  }

  .tk-spinner {
    margin-top: 50px;
  }
}