.woocommerce-info {
  border-radius: 5px;
  background-color: #4295b0;
  border: 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  color: #fefefe;
  max-width: 1220px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto 20px;

  a {
    color: #fefefe;
    text-decoration: underline;
  }

  &:before {
    content: " ";
    background-image: url("/wp-content/themes/tkt/assets/img/question-icon.png");
    height: 50px;
    width: 50px;
    background-position: center;
    background-repeat: no-repeat;
    top: 10px;
    left: 10px;
  }
}

.woocommerce-error {
  border-radius: 5px;
  background-color: #ee786e;
  border: 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  color: #fefefe;

  a {
    color: #fefefe;
    text-decoration: underline;
  }

  &:before {
    content: " ";
    background-image: url("/wp-content/themes/tkt/assets/img/cross-icon.png");
    height: 50px;
    width: 50px;
    background-position: center;
    background-repeat: no-repeat;
    top: 10px;
    left: 10px;
  }
}

.woocommerce-message {
  border-radius: 5px;
  background-color: #59b8a4;
  border: 0;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.44;
  color: #fefefe;
  max-width: 1220px;
  width: 100%;
  margin: 0 auto 20px;
  box-sizing: border-box;

  a {
    color: #fefefe;
    text-decoration: underline;
  }

  &:before {
    content: " ";
    background-image: url("/wp-content/themes/tkt/assets/img/done-icon.png");
    height: 50px;
    width: 50px;
    background-position: center;
    background-repeat: no-repeat;
    top: 10px;
    left: 10px;
  }

  .button {
    background: none !important;
    color: @mainBrandColor !important;
  }
}

.woocommerce-notices-wrapper {
  display: flex;
  flex-direction: column;
  background: #faf1e0;
}

.woocommerce-cart, .woocommerce-checkout {
  .woocommerce-notices-wrapper {
    background: white;
  }
}

.woocommerce-notices-wrapper {
  .woocommerce-error {
    max-width: 1240px;
    width: 100%;
    margin: auto auto 20px;
  }
}
