.tk-alternative-products {

  .tk-product {
    display: flex;
    margin-bottom: 20px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16) !important;

    .tk-thumbnail {
      img {
        height: 100%;
        width: auto;
        max-width: inherit;
      }
    }

    .tk-product-data {
      padding: 20px;
      background: #fff;
      width: 100%;

      h4 {
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 22px !important;
        font-weight: bold !important;
        color: #003542 !important;
      }

      .tk-price {
        display: flex;
        font-size: 15px !important;
        color: #99aeb3 !important;

        .price {
          margin-right: 5px;
        }
      }

      @media screen and (max-width: 768px) {
        padding: 10px;

        h4 {
          font-size: 18px !important;
        }

        .tk-price {
          flex-direction: column;
        }
      }
    }

  }
}
