.tk-breadcrumbs {
  font-size: 13px;
  letter-spacing: 0.3px;
  line-height: 1.3;
  margin-top: 15px;

  @media screen and (max-width: 768px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  .tk-separator {
    margin-left: 5px;
    margin-right: 5px;
  }

  a {
    color: @mainBrandColor;
  }
}
