/*.tk-bulk-order-form {
  width: 100%;
  overflow-x: scroll;

  table {
    width: 100%;
  }


  thead tr td {
    font-weight: bold;
    padding: 10px 5px 10px 5px;
  }

  tr.tk-product, tr.tk-variable-product {
    td {
      padding: 10px 5px 10px 5px;
    }
  }

  tr.tk-variation td {
    padding: 0 5px 0 5px;
  }

  tr td {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.47;
    letter-spacing: 0.3px;
    color: @mainDarkColor;
    margin-top: 0;

    a {
      color: @mainDarkColor;
      font-weight: bold;
    }

    input {
      height: 25px;
      font-size: 16px;
      border-radius: 5px;
      background-color: #ffffff;
      border: 1px solid #dcdcdc;
      flex-grow: 2;
      margin-right: 10px;
      padding: 5px;
    }

    label {
      width: 100%;
      display: flex;
      align-items: center;
    }
  }

  thead tr td {
    background-color: #faf1e0
  }

  tr.tk-even {
    background-color: #faf1e0
  }

  tr.tk-variation td.tk-name {
    padding-left: 20px;
  }

  button {
    border-radius: 25px;
    background-color: #c59d4f;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.4px;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    margin-top: 20px;

    &.tk-sending {
      padding-right: 50px;
      background: gainsboro;

      &:after {
        font-family: WooCommerce;
        content: '\e01c';
        vertical-align: top;
        font-weight: 400;
        position: absolute;
        right: 1em;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite
      }
    }
  }
}

*/


.tk-bulk-order-form {
  .tk-light-font {
    color: #99aeb3;
  }

  .tk-header-row, .tk-product-row {
    display: flex;

    > div {
      display: flex;
      align-items: center;
    }

    .tk-title-col {
      flex: 2;
    }

    .tk-price-col {
      flex: 1;
    }

    .tk-available-col {
      flex: 1;
    }

    .tk-amount-col {
      flex: 1;
    }

    .tk-total-col {
      flex: 1;
    }
  }

  .tk-header-row {
    font-size: 15px;
    font-weight: bold;
    color: #99aeb3;
    padding: 10px;
  }


  .tk-category {
    .tk-category-header {
      background-color: #dcddd0;
      font-size: 15px;
      font-weight: bold;
      text-align: left;
      color: #003542;
      padding: 5px 10px;
    }

    .tk-products {
      > .tk-product-wrapper {
        padding: 20px 0;

        &:not(:last-child) {
          border-bottom: 1px solid @mainBrandColor;
        }
      }
    }
  }


  .tk-product-row {

    .tk-title-col {
      display: flex;

      .tk-product-image {
        width: 80px;
        margin-right: 20px;
        height: 80px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .tk-product-desc {
        flex: 1;

        .tk-product-title {
          font-size: 22px;
          font-weight: bold;
          color: #003542;
        }

        .tk-product-short-desc {
          font-size: 15px;
          color: #99aeb3;
        }
      }
    }

    .tk-total-col {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }

    &.tk-not-in-stock {
      color: #99aeb3;

      .tk-product-title {
        color: #99aeb3;
      }
    }

    .tk-amount-col {
      label {
        width: 100%;
      }
      input {
        width: calc(100% - 50px);
        height: 50px;
        font-size: 15px;
        padding-left: 20px;
        margin-right: 10px;
      }
    }

  }

  .tk-variations {
    .tk-product-row.tk-variation {
      padding: 5px 0;
      .tk-title-col {
        .tk-product-image {
          height: 0;
        }

        .tk-product-desc {
          border-left: 1px solid @mainBrandColor;
          .tk-product-title {
            padding-left: 20px;
            font-size: 18px;
            font-weight: 400;
          }
        }
      }
    }
  }

  button[type=submit] {
    border-radius: 25px;
    background-color: #c59d4f;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.4px;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    margin-top: 20px;

    &:hover {
      cursor: pointer;
    }

    &.tk-sending {
      padding-right: 50px;
      background: gainsboro;

      &:after {
        font-family: WooCommerce;
        content: '\e01c';
        vertical-align: top;
        font-weight: 400;
        position: absolute;
        right: 1em;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite
      }
    }

  }
}