.tk-icon-link {
  margin-right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &:last-child {
    margin-right: 0;
  }

  img {
    margin: auto 5px auto 0;
    max-width: 22px;
  }

  a {
    display: flex;
    font-weight: bold;
    font-size: 15px;
    color: @mainBrandColor;
    letter-spacing: 0.3px;
    position: relative;
  }

  .tk-cart-count {
    position: absolute;
    right: -5px;
    top: -5px;
    border-radius: 2px;
    background-color: #003542;
    display: flex;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.3px;
    text-align: center;
    color: #ffffff;
    justify-content: center;
    line-height: 1.2;
    padding: 0 3px;
  }
}