.tk-content {
  h1 {
    font-family: Lato;
    font-size: 35px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: 0.7px;
    text-align: left;
    color: #003542;
  }

  h2 {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: 0.4px;

    margin-top: 20px;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 0.4px;
    margin-bottom: 5px;
  }

  h4 {
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0;
  }

  p {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.47;
    letter-spacing: 0.3px;
    color: @mainDarkColor;
    margin-top: 0;
  }

  ol, ul {
    padding-left: 25px;

    li {
      font-size: 16px;
      font-weight: 300;
      line-height: 1.47;
      letter-spacing: 0.3px;
      color: @mainDarkColor;
    }
  }

}