.elementor-menu-cart__container {


  .elementor-menu-cart__products {
    .units-info, .delivery-time-info, .unit-price {
      display: none;
    }

  }


  .elementor-menu-cart__footer-buttons {
    a {
      .tk-button();
      border-radius: 25px !important;
      font-size: 18px !important;
      font-weight: bold !important;
      padding: 5px 30px !important;
    }
  }
}

