
.tk-filters {
  .tk-filter-configuration {
    display: flex;
    margin-bottom: 20px;
    position: relative;
    align-items: center;

    .tk-filter-button {
      padding: 0 20px;
      border-radius: 2px;
      border: solid 1px #c59d4f;
      background: none;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.5;
      letter-spacing: normal;
      text-align: left;
      color: #c59d4f;
      margin-bottom: 0;

      i {
        margin-left: 50px;
      }
    }

    > form {
      margin: 0 0 0 auto !important;
      position: relative;

      select {
        background: none;
        border: none;
        box-shadow: none;
        font-size: 16px;
        line-height: 2.5;
        color: @mainBrandColor;
        text-align-last: right;
        padding: 0 30px 0 0;
        position: relative;
        margin: 0;
        width: 100%;

        option {
          text-align: right;
          direction: rtl;
        }
      }

      &:not(.woocommerce-ordering):after {
        content: '\f078';
        color: @mainBrandColor;
        font-family: FontAwesome;
        position: absolute;
        font-size: 14px;
        top: 10px;
        right: 0;
      }
    }

    .tk-filter-popup {
      position: absolute;
      border-radius: 5px;
      box-shadow: 0 10px 25px 0 rgba(13, 14, 14, 0.3);
      background-color: #ffffff;
      padding: 25px;
      z-index: 99999;
      top: 45px;
      display: none;

      &.tk-showing {
        display: flex;
      }

      .tk-filter-form {
        display: flex;
        flex-wrap: wrap;

        .tk-filter-column {
          margin-right: 50px;

          h4, li label {
            font-size: 16px;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: 2.0;
            letter-spacing: normal;
            text-align: left;
            color: #003542;
          }

          input {
            margin-right: 10px;
          }

          ul {
            list-style: none;
            padding-left: 0;
            margin-top: 0;
            margin-bottom: 0;
          }

          h4 {
            text-transform: uppercase;
            margin-bottom: 0;
            margin-top: 0;
          }
        }
      }
    }
  }

  .tk-active-filters {
    display: flex;
    margin-bottom: 30px;

    @media screen and (max-width: 960px) {
      flex-direction: column;

      .tk-count, .tk-remove-all, .tk-active-filter {
        margin-bottom: 10px;
      }
    }

    .tk-count {
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.5;
      letter-spacing: normal;
      text-align: left;
      color: #075d72;
    }

    > div {
      margin-right: 15px;
    }

    .tk-active-filter {
      border-radius: 15px;
      border: solid 1px #dcdcdc;
      background-color: #ffffff;
      font-size: 15px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 2;
      letter-spacing: 0.3px;
      text-align: center;
      color: #959595;
      padding: 0 25px;
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        cursor: pointer;
        margin-left: 10px;
      }
    }

    .tk-remove-all {
      border-radius: 15px;
      font-size: 15px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 2;
      letter-spacing: 0.3px;
      text-align: center;
      color: white;
      padding: 0 25px;
      display: flex;
      align-items: center;
      justify-content: center;

      border: solid 1px #dcdcdc;
      background-color: #075d72;

      span {
        cursor: pointer;
        margin-left: 10px;
      }
    }
  }
}

.tk-filter-target {
  .tk-no-results {
    position: absolute;
    top: 20px;
    text-align: center;
    width: 100%;
  }
}

@media screen and (max-width: 800px) {

  .tk-filters {
    .tk-filter-configuration {
      flex-direction: column;

      .tk-filter-button {
        width: 100%;
        display: flex;
        align-items: center;
        margin: 0 0 20px;

        span {
          width: 100%;
        }
      }
    }
  }
}