.tk-footer-newsletter {
  p {
    font-size: 13px;
    font-weight: 300;
    line-height: 1.54;
    color: #ffffff;
    margin-top: 0;
    text-align: center;
  }

  form {
    text-align: center;

  }

  input[type=submit] {
    .tk-button();
    border: 0;
    margin-top: 10px;

  }
}