.tk-large-post-box {
  background-color: #f5f2f2;
  padding-right: 30px;
  display: flex;
  position: relative;
  .tk-image {
    min-width: 180px;
  }

  .tk-description {
    padding-left: 45px;
    padding-top: 45px;
    h3 {
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      text-align: left;
      color: @mainDarkColor;
      font-size: 20px;
      font-weight: bold;
      line-height: 1;
    }

    .tk-content {
      font-size: 16px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: left;
      color: @mainDarkColor;
    }

    .tk-read-more {
      margin-top: 15px;
      display: block;
      font-weight: bold;
      color: @mainBrandColor;
    }
  }

  .tk-read-more-button {
    position: absolute;
    right: 35px;
    bottom: 35px;
    background-color: #c59d4f;
    border-radius: 50px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      color: white;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .tk-large-post-box {
    flex-direction: column;

    .tk-description {
      padding-top: 20px;
      padding-left: 0;
    }
    .tk-read-more {
      text-align: right;
      padding-right: 60px;
    }

    .tk-read-more-button {
      bottom: 15px;
    }
  }
}