.woocommerce ul.products li.product.tk-product {
  background-color: white;
  border: 1px solid #e5e5e5;
  max-width: 400px;


  display: flex;
  flex-direction: column;

  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

  a img {
    margin-bottom: 0;
  }

  .tk-product-box-icons {

    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 20px 10px 10px;
    display: flex;
    background-color: rgba(0, 53, 66, 0.75);
    border-radius: 0 0 80px 0;

    .tk-product-box-icon-wrapper {

      margin-left: 10px;
      margin-right: 10px;

      img {
        height: 20px;
        width: auto;
      }
    }
  }

  .tk-description {
    padding: 30px 20px 20px;
    flex: 1;
    display: flex;
    flex-direction: column;

    .tk-header {
      display: flex;

      .tk-category-icon {
        margin-left: auto;
      }

      .woocommerce-loop-product__title {
        padding: 0;
        line-height: 1.33;
        font-size: 30px;
        letter-spacing: 0.6px;
        color: #003542;
        font-weight: normal;
        hyphens: auto;
      }

      .tk-subtitle {
        font-size: 15px;
        line-height: 1.33;
        letter-spacing: 0.3px;
        color: #a4a6a7;
      }
    }

    hr {
      height: 4px;
      background-color: @mainBrandColor;
      width: 50px;
      padding-left: 20px;
      margin-top: 25px;
      margin-bottom: 25px;
      border: 0;
    }

    .tk-footer {
      display: flex;
      flex-direction: column;
      flex: 1;
      align-content: space-between;

      .tk-price-wrapper {
        display: flex;
        align-items: center;

        .price span {
          color: #003542 !important;
        }

        .price {
          line-height: 1.2;
          color: #003542 !important;
          font-size: 20px;
          font-weight: bold;
          letter-spacing: 0.4px;
          margin-bottom: 0;
          margin-right: 5px;

          white-space: nowrap;

          span.price > span > ins > span {
            color: #003542 !important;
          }

          del ins {
            text-decoration: line-through;
          }
        }

        .tk-price-unit {
          font-size: 15px;
          font-weight: 300;
          line-height: 1.2;
          letter-spacing: 0.3px;
          color: @MainDarkMuted;
          white-space: nowrap;
        }
      }

      .tk-legal-wrapper {
        display: flex;

        .tax-info {
          margin-right: 5px;
        }

        p {
          margin: 0;
          font-size: 0.8em;
          font-weight: 300;
          line-height: 1.2;
          letter-spacing: 0.3px;
          color: @MainDarkMuted;
        }

        a {
          color: @MainDarkMuted;
        }
      }

      .tk-add-to-cart-wrapper {
        display: flex;
        flex-direction: column;
        margin: 20px 0 10px 0;
        width: 100%;

        a {
          margin: 0;
          width: 100%;
          justify-content: center;
        }

        a.button {
          border-radius: 20px;
          background-color: fade(#075d72, 15%);
          font-size: 15px;
          font-weight: bold;
          line-height: 1.33;
          letter-spacing: 0.3px;
          color: @mainDarkColor;

          display: flex;
          align-items: center;


          white-space: nowrap;

          .tk-atc-icon {
            display: inline-block;
            position: absolute;
            right: 15px;

            img {
              width: auto;
              height: 20px;
              margin-left: 10px;
            }
          }
        }

        a.add_to_cart_button.product_type_simple {
          background-color: #faf1e0;
          color: #c59d4f;
        }

        .added_to_cart {
          text-align: center;
          font-size: 14px;
          color: @mainBrandColor;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .woocommerce ul.products li.product.tk-product {
    margin: 0 auto !important;

    .tk-title {
      hyphens: auto;
    }
  }
}
