.elementor-wc-products nav.woocommerce-pagination {
  ul, li {
    border: 0 !important;
  }

  li, li span {
    font-size: 22px;
    line-height: 1.36;
    text-align: center;
    color: #003542 !important;
    background: none !important;
  }

  li a:hover {
    color: #003542 !important;
    background: none !important;
  }
}