// to display the Images for the Payment Methods on /bezahlmoeglichkeiten/ the right way
.woocommerce-gzd {
  .payment_methods {
    .stripe-sepa-icon, .stripe-icon {
      width: 300px !important;
      display: block;
      margin: 20px;
    }

    .payment_method_paypal {
      label {
        image {
          margin: 0 10px !important;
        }
      }
    }
  }
}
