.tk-post-box-widget {
  h2 {
    margin-top: 0;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.4px;
    text-align: left;
    color: @mainBrandColor;
  }
}
