.tk-post-box {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  box-sizing: border-box;
  max-width: 290px;

  .tk-header {
    position: absolute;
    background-color: fade(@mainDarkColor, 75%);
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin: 0;

    &.tk-link-at-bottom {
      bottom: 0;
    }

    .tk-title {
      font-size: 15px;
      font-weight: bold;
      line-height: 1.33;
      color: #c09751;
      text-transform: uppercase;
      text-align: left;

      &.tk-normal-title {
        text-transform: none;
        font-weight: normal
      }
    }

    .tk-arrow {
      font-size: 25px;
      font-weight: bold;
      color: #c09751;
      margin-left: auto;
    }

    &:hover {
      text-decoration: none;
    }
  }

  picture {
    display: flex;
    height: fit-content;
  }

  button {
    border-radius: 0;
  }

  img {
    width: 100%;
  }
}