.woocommerce-product-details__short-description {
  p {
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.47;
    letter-spacing: 0.3px;
    text-align: left;
    color: #003542;
  }
}