#tk-product-source-form {
  display: flex;
  align-items: flex-end;

  label {
    margin: 0;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.67;
    letter-spacing: 0.3px;
    text-align: left;
    color: @mainDarkColor;
  }

  input {
    margin: 0;
    width: auto;
  }

  button {
    margin-left: 20px;
    min-height: 50px;

    &.tk-is-loading {
      font-size: 4px;
    }
  }
}