.tk-review {
  .tk-stars {
    color: @mainBrandColor;
    i {
      margin-right: 3px;
    }
  }
  p, a {
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #00556c;
    margin-bottom: 0;
    margin-top: 0;
  }

  a {
    color: @mainBrandColor;
  }
}