.tk-button {
  border-radius: 25px;
  background-color: @mainBrandColor;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.4px;
  color: #ffffff;
  text-align: center;
  padding: 5px 30px;
  border: 0;

  &.tk-button-outline {
    background: none;
    background-color: transparent !important;
    border: solid 1px @mainBrandColor;
    color: @mainBrandColor;
  }
}