.tooltipster-base {
  max-width: 400px !important;

  .tooltipster-box {
    border: none;
    border-radius: 5px;
    box-shadow: 0 10px 25px 0 rgba(13, 14, 14, 0.3);
    background-color: #ffffff;
    padding: 1px;

    .tooltipster-content {
      .tk-content();
    }

  }

  .tooltipster-arrow-border {
    border-top-color: white !important;
  }

  .tooltipster-arrow-background {
    border-top-color: white !important;
  }
}
