<a class="tk-sidebar-box  {{ box['class'] }}" href="{{ box['id'] | wpurl }}">
    <div class="tk-image">
        {{ box['id'] | wpthumbnail('tk-shop-archive')  }}
    </div>
    <div class="tk-desc">
        <div class="tk-supertitle">{{ box['supertitle'] }}</div>
        <h4>{{ box['id'] | wptitle }}</h4>
        {% if box['id'] | tkWpPostType == 'product' %}
            <div class="tk-category-icon">
                {{ box['id'] | tkCategoryIcon | wpattachmentimage('tk-category-icon') }}
            </div>
        {% endif %}
    </div>
</a>