<div class="tk-sidebar-boxes">
    <h2>Das könnte Sie auch interessieren</h2>
    {% for box in boxes %}
        {% include 'sidebar-box.twig' with {
            'box': box
        } %}
    {% endfor %}
</div>
