.tk-main-menu-wrapper {
  .tk-mobile-toggle {
    display: none;
  }

  .tk-main-menu {
    justify-content: flex-end;
    position: relative;
    padding: 0;
    margin: 0;

    ul {
      padding: 0;
    }

    li {
      list-style: none;
    }

    .tk-item-title .fa {
      margin-left: 5px;
    }

    .tk-menu-item.tk-depth-0 {
      padding: 20px;

      > .tk-item-title {
        color: @mainDarkColor;
        font-weight: bold;
        text-transform: uppercase;
      }

      &:hover > .tk-item-title {
        color: @mainBrandColor
      }
    }

    .tk-column {
      > .tk-item-title {
        color: @mainDarkColor;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 25px;
      }

      .tk-column-items {
        .tk-normal-item {
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }

      &:first-child {
        padding-right: 10px;
      }

      &:not(:first-child):not(:last-child) {
        padding-left: 10px;
        padding-right: 10px;
      }

      &:last-child {
        padding-left: 10px;
      }
    }

    .tk-submenu {
      display: flex;
      background: white;
      position: absolute;
      top: 50px;
      width: 100%;
      right: 0;
      padding: 20px;
      border-top: 5px solid @mainBrandColor;
      overflow: hidden;

      transition: visibility 0s, max-height 0.2s linear;
      max-height: 0;
      visibility: hidden;

      &.tk-open {
        visibility: visible;
        max-height: 500px;
      }

      .tk-normal-item {
        .tk-item-title {
          color: @mainDarkColor;
        }

        &:hover > .tk-item-title {
          color: @mainBrandColor;
        }
      }

      .tk-column {
        flex: 0.25
      }
    }
  }
}

@media screen and (min-width: 1281px) {
  .tk-main-menu-wrapper {
    .tk-main-menu {
      display: flex !important;
    }
  }
}

@media screen and (max-width: 1280px) {
  .tk-main-menu-wrapper {
    display: flex;
    align-items: center;

    .tk-mobile-toggle {
      display: flex;
      color: @mainDarkColor;
      font-size: 20px;
      padding: 20px;

      &.tk-open {
        position: fixed;
        z-index: 101;
        top: 50px !important;
        right: 0 !important;
      }
    }

    .tk-main-menu {
      display: none;
      -webkit-overflow-scrolling: touch;
      overflow: scroll;
      padding-top: 100px;
      position: fixed;
      background: white;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      z-index: 100;

      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      &.tk-mobile-open {
        display: flex;
      }

      .tk-item-title {
        text-align: center;
      }

      .tk-menu-item {
        text-align: center;
      }

      .tk-menu-item.tk-depth-0 {
        display: flex;
        flex-direction: column;
        padding: 0;
        width: 100%;
        margin-bottom: 30px;
      }

      .tk-cart-link {
        display: none
      }

      .tk-post-box {
        margin: auto;
      }


      .tk-submenu {
        position: relative;
        top: 0;
        border: 0;
        background-color: @brandColorMuted;

        transition: visibility 0s, max-height 0.2s linear;
        max-height: 0;
        visibility: hidden;
        padding: 0;
        margin: 0;
        overflow: scroll;

        &.tk-open {
          margin-top: 10px;
          padding: 30px 0 20px 0;
          visibility: visible;
          flex-direction: column;
          max-height: unset !important;
        }

        .tk-column {
          padding: 0;
        }

        .tk-column:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }

  }
}
