@media print {
  .elementor-location-header, .elementor-location-footer {
    display: none !important;
  }

  .div[data-shopname="waldgourmet"] {
    display: none !important;
  }

  form, button {
    display: none !important;
  }

  img {
    display: none !important;
  }

  .tk-post-box-widget {
    display: none !important;
  }

  .elementor-container {
    margin: 0 !important;
  }

  .tk-recipe-content-tabs {
    .elementor-tab-content {
      display: block !important;
    }
  }

  .tk-recipe-sidebar {
    display: none !important;
  }

  #trustbadge-container-98e3dadd90eb493088abdc5597a70810 {
    display: none !important;
  }

  .tk-recipe-metas {
    .tk-meta {
      .tk-meta-value {
        font-size: 16px;
      }

      .tk-meta-name {
        font-size: 16px;
      }
    }
  }
  .tk-recipe-content {
    margin-top: 0 !important;
  }
}

