
.tk-hide {
  display: none !important;
}

.tk-show-on-mobile {
  display: none !important;
}

.p-0 {
  padding: 0 !important;
}

.tk-no-border {
  border: 0 !important;
}

.tk-box-image {
  min-height: 177px;
}


/*
  Change Language Flag
 */
.wpml-ls-flag {
  margin-top: 5px;
}

.tk-hyphens-auto {
  hyphens: auto;
}

/*
  Menu
 */
.menu-item-has-children > a {
  background: transparent;
  transition: all 0.3s 10s;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.menu-item-has-children:hover > a {
  transition: background-color 0.3s;
}

.tk-menu-item-img {
  display: none;
}

.plus-minus-toggle {
  display: none;
  margin-left: 10px;
}

/*
  Mega Menu
 */
.sub-menu.has-mega-menu {
  padding-top: 5px !important;
  position: fixed !important;
  top: auto;
  left: 70% !important;
  transform: translateX(-50%);
  margin: 0 !important;
  margin-top: 5px !important;
}

.sub-menu.has-mega-menu li a {
  font-weight: normal !important;
}

a.has-submenu {
  span {
    padding-left: 5px !important;

    i {
      font-size: 16px !important;
    }
  }

  &.highlighted {
    span {
      i {
        transform: rotate(180deg);
      }
    }
  }
}

.tk-mega-menu {
  position: absolute;
  width: 60vw;
  top: 0 !important;
  margin-top: -5px !important;

  &:hover {
    display: block;
  }
}


.elementor-menu-toggle {
  z-index: 1000000000;
}

.menu-item-has-children {
  position: relative;
}

.tk-mega-menu {
  position: static;
  max-width: 100% !important;
  z-index: 110 !important;
}

ul.sub-menu.has-mega-menu {
  position: fixed !important;
  top: 75px;
  left: 55% !important;
  transform: translateX(-50%) !important;
  background: transparent !important;
}

ul.sub-menu {
  border-radius: 5px;

  li {

    a {
      &:hover, &:active {
        border-radius: 5px !important;
      }
    }
  }

}


/*
* Mega Menu Images
 */
.has-mega-menu {

}


@keyframes zoom {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.tk-post-box {
  .tk-header {
    .tk-title {
      white-space: normal;
    }
  }
}

.tk-mega-menu-item {
  .elementor-widget-container {
    .elementor-heading-title {
      a {
        margin: 0 !important;
        margin-bottom: 3px !important;
        padding: 0 !important;
        border-left: 0 !important;
      }
    }
  }

  &:hover {
    .elementor-widget-container {
      .elementor-heading-title {
        cursor: pointer;
      }
    }
  }
}


@media (min-width: 1250px) and (max-width: 1500px) {
  .tk-mega-menu {
    width: 80vw;
  }
}

@media (min-width: 1024px) and (max-width: 1250px) {
  .tk-mega-menu {
    width: 85vw;
  }

  .elementor-11592
  .elementor-element
  .elementor-element-68fc030
  .elementor-nav-menu--main
  .elementor-item {
    padding-left: 10px !important;
  }
}

@media (max-width: 1024px) {
  body, html {
    overflow-x: hidden;
  }

  body {
    margin: 0;
  }

  #upper-menu, #upper-menu * {
    display: none !important;
  }

  .tk-show-on-mobile {
    display: flex !important;

    a {
      .tk-menu-icon {
        margin-right: 10px !important;
      }
    }
  }

  .elementor-nav-menu--dropdown.tk-menu-overlay {
    margin-top: 0 !important;
    position: fixed;
    width: 100%;
    left: 0;
    padding: 30px;
    padding-top: 15%;
    min-height: 100vh;
    top: 0;
    overflow-y: scroll !important;
    overscroll-behavior: contain;
  }

  ul.sub-menu.has-mega-menu, ul.sub-menu {
    position: static !important;
    transform: translateX(0) !important;
    min-height: auto;
    overscroll-behavior: contain;
  }

  .tk-mega-menu {
    width: 100%;
  }

  .elementor-menu-toggle {
    margin-right: 10px;
    outline: none;

    &.elementor-active {
      width: 100vw;
      position: fixed;
      left: 0;
      display: flex;
      justify-content: flex-end;
      padding-right: 30px;
      border: none;
      top: 0;
      padding-top: 30px;
      padding-bottom: 15px;
      outline: none;
      background: #fff;
    }
  }

  ul {
    li.tk-menu-item {
      padding: 15px 2px;

      a {
        color: #494c4f !important;
        background: #fff !important;
        border-radius: 5px !important;
      }
    }
  }

  a.has-submenu.highlighted {
    color: #C59D4F !important;
  }
}

@media (max-width: 600px) {

  .elementor-nav-menu--dropdown {
    display: none;

    &.active {
      display: block;
    }
  }

  .elementor-nav-menu--dropdown.elementor-nav-menu__container {
    padding-top: 25%;
  }

}











