@mainBrandColor: #c59d4f;
@brandColorMuted: #faf1e0;
@mainDarkColor: #003542;
@MainDarkMuted: #a4a6a7;

html {
  overflow-x: hidden;
}

h1 {
  font-size: 35px !important;
  font-weight: bold !important;
  line-height: 1.14 !important;
  letter-spacing: 0.7px !important;
  color: @mainDarkColor;
}

body {
  margin: 0;
}

.archive h1 {
  text-align: center;
}

div, span, input, textarea, button, label, a, li, h1, h2, h3, h4, h5, h6, p, ul li, ol li {
  font-family: "Lato", sans-serif;
}

a {
  color: @mainBrandColor;
}

select, input, label {
  margin: 0;
  text-align: left;
}

label {
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.67;
  letter-spacing: 0.3px;
  text-align: left;
  color: #003542;
  padding-right: 20px;
}

select, input[type=text], input[type=email], input[type=tel], input[type=password] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.67;
  letter-spacing: 0.3px;
  text-align: left !important;
  color: #003542;
  border-radius: 2px;
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  padding-left: 20px;
  padding-right: 20px;
  width: 100% !important;
  height: 50px;
}

textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.67;
  letter-spacing: 0.3px;
  text-align: left !important;
  color: #003542;
  border-radius: 2px;
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  width: 100% !important;
}

@import "components/_components";
@import "menu";
@import "print-styles";
@import "cart/cart";
@import "checkout/checkout";
@import "tk-mega-menu";


// Mega Menu wald:
.tk-mega-menu-item {
  &:hover {
    .elementor-widget-container {
      .elementor-heading-title {
        color: @mainBrandColor !important;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  * {
    hyphens: auto;
    word-break: break-word;
  }
}

.wdr_product_strikeout {
  del {
    display: none;
  }

  ins {
    text-decoration: none;
  }
}

@media screen and (max-width: 1024px) {
  .tk-waldgourmet-konzept {
    background: none !important;
  }
  a.has-submenu.highlighted {
    color: @mainBrandColor !important;
  }
}

.tk-my-account {
  ul {
    list-style: none !important;

    li {
      padding: 15px 20px !important;
    }
  }
}

.woocommerce-product-gallery.gekuehlte-produkte {
  position: relative;
  margin-bottom: 0;

  &:after {
    content: " ";
    position: absolute;
    top: 30px;
    right: 30px;
    height: 150px;
    width: 150px;
    background-size: cover;
    background: url("/wp-content/themes/tkt/assets/img/frische-badge.svg");
  }

  @media screen and (max-width: 768px) {
    &:after {
      height: 100px;
      width: 100px;
      top: 15px;
      right: 15px;
    }
  }
}


