@mainBrandColor: #8d9906;
@brandColorMuted: #f5f6e8;
@mainDarkColor: #003542;
@MainDarkMuted: #a4a6a7;

html {
  overflow-x: hidden;
}

h1 {
  font-size: 35px !important;
  font-weight: bold !important;
  line-height: 1.14 !important;
  letter-spacing: 0.7px !important;
  color: #003542 !important;
}

h2 {

}

h3 {
  color: @mainBrandColor;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  line-height: 1.56;
}

.archive h1 {
  text-align: center;
}



a {
  color: @mainBrandColor;
}

select, input, label {
  margin: 0;
  text-align: left;
}

label {
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.67;
  letter-spacing: 0.3px;
  text-align: left;
  color: #003542;
  padding-right: 20px;
}

select, input[type=text], input[type=email], input[type=tel], input[type=password] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.67;
  letter-spacing: 0.3px;
  text-align: left !important;
  color: #003542;
  border-radius: 2px;
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  padding-left: 20px;
  padding-right: 20px;
  width: 100% !important;
  height: 50px;
}

textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.67;
  letter-spacing: 0.3px;
  text-align: left !important;
  color: #003542;
  border-radius: 2px;
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  width: 100% !important;
}

@import "components/_components";
@import "menu";
@import "tk-mega-menu";
@import "print-styles";
@import "cart/cart";
@import "checkout/checkout";

// Mega Menu Weide:
.tk-mega-menu-item {
  &:hover {
    .elementor-widget-container {
      .elementor-heading-title {
        color: @mainBrandColor !important;
      }
    }
  }
}
.tk-menu-icon {
  margin-right: 5px !important;
}

@media screen and (max-width: 400px) {
  * {
    hyphens: auto;
    word-break: break-word;
  }
}

.wdr_product_strikeout {
  del {
    display: none;
  }

  ins {
    text-decoration: none;
  }
}

@media screen and (max-width: 1024px) {
  .tk-waldgourmet-konzept {
    background: none !important;
  }
  a.has-submenu.highlighted {
    color: @mainBrandColor !important;
  }
}

.elementor-button {
  background-color: @mainBrandColor !important;
}

.tk-my-account * {
  ul {
    list-style: none !important;
    li {
      padding: 15px 20px !important;
    }
  }
}
